<div class="container mt-3">
    <div class="row">
        <div class="col-12 col-lg-9">
            <div class="mb-3">
                <span class="text-white"
                      ng-if="dcp.photos">{{'app.FoundCountPhotos' | i18n: {count: dcp.photos.length} }}</span>
                <a class="btn btn-sm btn-primary float-right"
                   ng-if="::dcp.isOwned || ('Court.UpdateNotOwned' | drbblyPermission)"
                   ngf-select="dcp.addPhotos($files)"
                   ng-model="dcd.profilePicture"
                   ngf-pattern="'image/*'"
                   ngf-multiple="true"
                   ngf-accept="'image/*'"
                   ngf-max-size="20MB"
                   href="#">
                    <i class="fa fa-plus"></i>&nbsp;{{::'app.UploadAPhoto' | i18n}}
                </a>
            </div>
            <div class="carousel-container mb-3"
                 ng-if="dcp.photos">
                <drbbly-gallery can-add="false"
                                media="dcp.photos"
                                on-delete="dcp.deletePhoto"
                                options="{hideCaptions: true, methods: dcp.methods}"></drbbly-gallery>
            </div>
            <div class="">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'horizontal'"></drbbly-ad>
            </div>
        </div>
        <div class="col-12 col-lg-3 d-none d-lg-block">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
</div>