@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-gametracking {
    .teams {

        .vs {
            font-size: 1.5em;
        }

        .logo {
            height: 30px;
            width: 30px;
        }
    }

    .player-list {

        tr.player.selected {
            background: #ff9d45;
            color: #000;
            font-weight: 600;
        }
    }

    .player-options .options {
        display: grid !important;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
