@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-gametracking {
    display: block;
    min-width: 550px;

    .score-board {
        border: 3px solid #ccc;
        border-radius: 10px;

        .vs {
            font-size: 1.5em;
        }

        .score {
            font-size: 5em;
        }

        .final {
            font-size: 2em;
        }

        .logo {
            height: 30px;
            width: 30px;
        }
    }

    .player-list {

        tr.player.selected {
            background: #ff9d45;
            color: #000;
            font-weight: 600;
        }
    }

    .player-options .options {
        display: grid !important;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
    }
}
