<div class="wrapper ml-auto mr-auto"
     ng-class="{'vertical': gdg.isVertical}"
     ng-if="gdg.game">
    <div class="top-bar d-block border-bottom-0 d-flex align-items-center">
        <span class="game-title">{{gdg.game.title || 'Untitled Game'}}</span>
        <button class="btn btn-small"
                ng-click="gdg.showGameOptions()">
            <i class="fa fa-cog"></i>
        </button>
    </div>
    <div class="control-panel">
        <!-- Tabbed Contents -->
        <div class="tabbed-content">
            <!-- #region Tab Headers -->
            <ul class="nav nav-tabs bg-primary" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active"
                       id="controls-tab"
                       data-toggle="tab"
                       data-target="#controls"
                       role="tab">
                        <small>Controls</small>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       id="playbyplay-tab"
                       data-toggle="tab"
                       data-target="#playbyplay"
                       role="tab">
                        <small>Play-by-Play</small>
                    </a>
                </li>
            </ul>
            <!-- #endregion -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane show active"
                     id="controls"
                     role="tabpanel">
                    <!-- Player List and Options -->
                    <div class="player-options d-flex flex-column">
                        <!-- Options -->
                        <div class="options flex-grow-1">
                            <div class="d-flex flex-column">
                                <div class="d-flex">
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(1, false)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +1
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(1, false, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <div class="d-flex">
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(2, false)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +2
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(2, false, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <div class="d-flex">
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(3, false)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +3
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-secondary"
                                            ng-click="gdg.recordShot(3, false, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <button type="button"
                                        class="btn btn-block btn-secondary"
                                        ng-disabled="!gdg.canRecordTurnOver()"
                                        ng-click="gdg.recordTurnOver()">
                                    Turnover
                                </button>
                            </div>
                            <div class="flex-grow-1 flex-shrink-1 d-flex flex-column">
                                <div>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(1, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        miss 1
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(1, true, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <div>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(2, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        miss 2
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(2, true, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <div>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(3, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        miss 3
                                    </button>
                                    <button type="button"
                                            class="btn btn-block btn-danger"
                                            ng-click="gdg.recordShot(3, true, true)"
                                            ng-disabled="!gdg.canRecordShot()">
                                        +Foul
                                    </button>
                                </div>
                                <button type="button"
                                        class="btn btn-block btn-secondary"
                                        ng-click="gdg.recordFoul()"
                                        ng-disabled="!gdg.canRecordFoul()">
                                    Foul
                                </button>
                            </div>
                            <div class="flex-grow-1 flex-shrink-1 d-flex flex-column">
                                <button type="button"
                                        class="btn btn-block btn-secondary"
                                        ng-disabled="!gdg.canRecordFreeThrow()"
                                        ng-click="gdg.recordFreeThrow(gdg.selectedPlayer)">
                                    Free Throw
                                </button>
                                <button type="button"
                                        class="btn btn-block btn-secondary"
                                        ng-disabled="!gdg.canCallTimeout()"
                                        ng-click="gdg.timeout()">
                                    Timeout
                                </button>
                                <button type="button"
                                        class="btn btn-block btn-secondary"
                                        ng-disabled="!gdg.canChangeLineup()"
                                        ng-click="gdg.setLineup(gdg.selectedTeam)">
                                    Lineup
                                </button>
                            </div>
                        </div>
                        <!-- Selected Player -->
                        <div class="selected-entity-wrapper"
                             ng-show="gdg.selectedPlayer">
                            <img class="profile-photo"
                                 ng-src="{{gdg.selectedPlayer.teamMembership.account.profilePhoto.url || 'src/images/default_images/default_profile_photo.jpg'}}" />
                            <span class="d-inline-block px-1 name">
                                <span class="text-sporty">{{gdg.selectedPlayer.teamMembership.jerseyNo}}</span>
                                {{' ' + gdg.selectedPlayer.account.lastName}}
                                <span ng-if="gdg.selectedPlayer.hasFouledOut || gdg.isEjected(gdg.selectedPlayer)"
                                      class="font-weight-light">
                                    ({{gdg.selectedPlayer.hasFouledOut? 'FOULED OUT':'EJECTED'}})
                                </span>
                            </span>
                            <div class="stats">
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.points || 0}}</span>
                                    <span class="label">PTS</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.fouls || 0}}</span>
                                    <span class="label">F</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.assists || 0}}</span>
                                    <span class="label">AST</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.rebounds || 0}}</span>
                                    <span class="label">REB</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.fta || 0}}</span>
                                    <span class="label">FTA</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedPlayer.ftm || 0}}</span>
                                    <span class="label">FTM</span>
                                </div>
                            </div>
                        </div>
                        <!-- Selected Team -->
                        <div class="selected-entity-wrapper"
                             ng-show="gdg.selectedTeam">
                            <img class="logo"
                                 ng-src="{{gdg.selectedTeam.team.logo.url || 'src/images/default_images/default_team_logo_1.png'}}" />
                            <span class="d-inline-block px-1 name">
                                {{gdg.selectedTeam.shortName}}
                            </span>
                            <div class="stats">
                                <div class="stat">
                                    <span class="value">{{gdg.selectedTeam.teamFoulCount || 0}}</span>
                                    <span class="label">F</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedTeam.timeoutsLeft || 0}}</span>
                                    <span class="label">TOL</span>
                                </div>
                                <div class="stat">
                                    <span class="value">{{gdg.selectedTeam.turnovers || 0}}</span>
                                    <span class="label">TO</span>
                                </div>
                            </div>
                        </div>
                        <!-- Team Players -->
                        <div class="team-players"
                             ng-repeat="team in [gdg.game.team1, gdg.game.team2] track by team.id">
                            <div class="team-wrapper team1">
                                <div class="logo-name-wrapper"
                                     ng-click="gdg.toggleTeamSelection(team)"
                                     ng-class="{'selected': team.id === gdg.selectedTeam.id}">
                                    <img class="logo" ng-src="{{team.team.logo.url || 'src/images/default_images/default_team_logo_1.png'}}" />
                                    <!--<small>{{team.team.name}}</small>-->
                                </div>
                                <strong class="text-center bg-white score text-dark"
                                        ng-class="{'text-secondary': gdg.game.winningTeamId !== null && gdg.game.winningTeamId !== team.team.id}">
                                    {{team.points || 0}}
                                </strong>
                                <div class="players d-flex align-items-stretch border border-dark bg-dark">
                                    <div ng-repeat="gamePlayer in team.players | filter : {isInGame: true}"
                                         class="player text-white"
                                         ng-style="{'background-color': gamePlayer.teamColor}"
                                         ng-click="gdg.togglePlayerSelection(gamePlayer)"
                                         ng-class="{'selected': gamePlayer.isSelected}">
                                        <span class="jersey-no text-sporty">{{gamePlayer.teamMembership.jerseyNo}}</span>
                                        <span class="name">{{gamePlayer.teamMembership.lastName}}</span>
                                    </div>
                                    <div ng-if="(team.players | filter : {isInGame: true}).length === 0"
                                         class="w-100 text-center">
                                        <a ng-click="gdg.setLineup(team)"><small>Set Lineup</small></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane"
                     id="playbyplay"
                     role="tabpanel">
                    <!-- Play-by-Play -->
                    <drbbly-gameeventslist game="gdg.game"
                                           events="gdg.game.gameEvents"
                                           on-ready="gdg.onPlayByPlayReady"
                                           on-item-clicked="gdg.showGameEventDetails"
                                           side-by-side-threshold="$root.constants.bootstrap.breakpoints.sm"
                                           ng-if="gdg.game"></drbbly-gameeventslist>
                </div>
            </div>
        </div>
        <!-- Score Board -->
        <div class="score-board d-flex flex-column bg-dark">
            <!-- Game Details -->
            <div class="d-flex justify-content-around">
                <!-- Team1 Stats -->
                <div class="team-stats text-center d-flex flex-column align-items-center">
                    <img class="logo" ng-src="{{gdg.game.team1.team.logo.url || 'src/images/default_images/default_team_logo_1.png'}}" />
                    <span class="score"
                          ng-style="{'border-top': '2px solid ' + gdg.game.team1.teamColor}"
                          ng-class="{'text-secondary': gdg.game.winningTeamId === gdg.game.team2Id}">{{gdg.game.team1.points}}</span>
                    <!-- Possession Team1 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <button class="btn py-0"
                                ng-class="{'text-secondary': gdg.game.nextPossession === 2}"
                                ng-click="gdg.setNextPossession(1)">
                            <i class="fa fa-caret-left fa-2x"></i>
                        </button>
                    </div>
                    <!-- TOL - Team1 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <small uib-tooltip="Timeouts Left"
                               class="d-block">T.O.L.</small>
                        <drbbly-lcddisplay text="gdg.game.team1.timeoutsLeft"
                                           class="tol"
                                           on-click="gdg.setTeam1Tol"
                                           font-size="'1em'"></drbbly-lcddisplay>
                    </div>
                    <!-- Team Foul - Team1 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <small uib-tooltip="Team Fouls"
                               class="d-block">Fouls</small>
                        <drbbly-lcddisplay text="gdg.game.team1.teamFoulCount"
                                           class="team-foul"
                                           on-click="gdg.setTeam1FoulCount"
                                           font-size="'1em'"></drbbly-lcddisplay>
                    </div>
                    <!-- Bonus Team1 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <button class="btn"
                                ng-click="gdg.setBonusStatus(gdg.game.team1)">
                            <strong class="text-white bonus-indicator"
                                    uib-tooltip="Penalty Indicator"
                                    ng-class="{'text-secondary': !gdg.game.team1.isInBonus}">
                                P
                            </strong>
                        </button>
                    </div>
                </div>
                <!-- Clocks -->
                <div class="clocks">
                    <small class="status-text"
                           ng-class="gdg.statusText.class">{{gdg.statusText.text}}</small>
                    <div class="game-clock text-center"
                         ng-show="gdg.game.isTimed && !gdg.gameIsFinished()">
                        <div class="w-100 d-flex justify-content-center align-items-center">
                            <drbbly-timer on-ready="gdg.onTimerReady"
                                          warning-state-threshold-seconds="120"
                                          toggle-on-click="true"
                                          font-size="'1.5em'"
                                          class="game-clock"></drbbly-timer>
                        </div>
                        <div class="clock controls text-center"
                             ng-hide="gdg.gameIsFinished()"
                             ng-cloak>
                            <button class="btn btn-sm"
                                    ng-if="!gdg.timer.isOver()"
                                    ng-click="gdg.timer.toggle()">
                                <i class="fa text-white"
                                   ng-class="gdg.timer.isRunning()? 'fa-pause':'fa-play'"></i>
                            </button>
                            <button class="btn btn-sm"
                                    ng-disabled="gdg.timer.isRunning()"
                                    ng-click="gdg.timer.edit()">
                                <i class="fa fa-pencil text-white"
                                   uib-tooltip="{{gdg.timer.isRunning()? 'Cannot edit the clock while it is running':'Edit the clock'}}"></i>
                            </button>
                        </div>
                    </div>
                    <div class="text-center"
                         ng-show="!gdg.gameIsFinished()">
                        <!-- Shot Clock -->
                        <div class="shot-clock"
                             ng-show="gdg.game.isTimed">
                            <drbbly-timer on-ready="gdg.onShotTimerReady"
                                          class="game-clock"
                                          warning-state-threshold-seconds="5"
                                          is-shot-clock="true"
                                          font-size="'1.5em'"
                                          label="'SHOT CLOCK'"></drbbly-timer>
                            <div class="controls text-center">
                                <button class="btn btn-sm text-white"
                                        ng-click="gdg.resetShotClockFull()">
                                    <i class="fa fa-undo"
                                       uib-tooltip="Reset the clock"></i>&nbsp;
                                    <span class="reset-to-value bg-dark">{{gdg.game.defaultShotClockDuration}}</span>
                                </button>
                                <button class="btn btn-sm text-white"
                                        ng-click="gdg.setShotTime(gdg.game.offensiveRebondShotClockDuration * 1000, gdg.timer.isRunning())">
                                    <i class="fa fa-undo"
                                       uib-tooltip="Reset the clock"></i>&nbsp;
                                    <span class="reset-to-value bg-dark">{{gdg.game.offensiveRebondShotClockDuration}}</span>
                                </button>
                                <button class="btn btn-sm"
                                        ng-disabled="gdg.shotTimer.isRunning()"
                                        ng-click="gdg.shotTimer.edit()">
                                    <i class="fa fa-pencil text-white"
                                       uib-tooltip="{{gdg.shotTimer.isRunning()? 'Cannot edit the clock while it is running':'Edit the clock'}}"></i>
                                </button>
                            </div>
                        </div>
                        <!-- Period -->
                        <div class="period mb-2"
                             ng-if="gdg.game.isTimed">
                            <small class="d-block">PERIOD</small>
                            <drbbly-lcddisplay class="period"
                                               text="gdg._period"
                                               is-danger="dtc.timer.isOver()"
                                               on-click="dtc.clicked"
                                               font-size="'1em'"></drbbly-lcddisplay>
                        </div>
                    </div>
                </div>
                <!-- Team2 Stats -->
                <div class="team-stats text-center d-flex flex-column align-items-center">
                    <img class="logo" ng-src="{{gdg.game.team2.team.logo.url || 'src/images/default_images/default_team_logo_1.png'}}" />
                    <span class="score"
                          ng-style="{'border-top': '2px solid ' + gdg.game.team2.teamColor}"
                          ng-class="{'text-secondary': gdg.game.winningTeamId === gdg.game.team1Id}">{{gdg.game.team2.points}}</span>
                    <!-- Possession Team2 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <button class="btn py-0"
                                ng-class="{'text-secondary': gdg.game.nextPossession !== 2}"
                                ng-click="gdg.setNextPossession(2)">
                            <i class="fa fa-caret-right fa-2x"></i>
                        </button>
                    </div>
                    <!-- TOL - Team2 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <small uib-tooltip="Timeouts Left"
                               class="d-block">T.O.L.</small>
                        <drbbly-lcddisplay text="gdg.game.team2.timeoutsLeft"
                                           class="tol"
                                           on-click="gdg.setTeam2Tol"
                                           font-size="'1em'"></drbbly-lcddisplay>
                    </div>
                    <!-- Team Foul - Team2 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <small uib-tooltip="Team Fouls"
                               class="d-block">Fouls</small>
                        <drbbly-lcddisplay text="gdg.game.team2.teamFoulCount"
                                           class="team-foul"
                                           on-click="gdg.setTeam2FoulCount"
                                           font-size="'1em'"></drbbly-lcddisplay>
                    </div>
                    <!-- Bonus Team2 -->
                    <div class="mb-2"
                         ng-hide="gdg.gameIsFinished()">
                        <button class="btn"
                                ng-click="gdg.setBonusStatus(gdg.game.team2)">
                            <strong class="text-white bonus-indicator"
                                    uib-tooltip="Penalty Indicator"
                                    ng-class="{'text-secondary': !gdg.game.team2.isInBonus}">
                                P
                            </strong>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Game Options -->
            <div class="p-1 flex-grow-1 d-flex align-items-center game-options text-center">
                <button type="button" class="btn btn-primary btn-block"
                        ng-if="gdg.game.status === gdg.gameStatusEnum.WaitingToStart && gdg.lineupsReady"
                        ng-click="gdg.jumpBall()">
                    Jump Ball
                </button>
                <button type="button" class="btn btn-primary btn-block"
                        ng-if="gdg.game.status === gdg.gameStatusEnum.Finished"
                        ui-sref="main.game.details({id: gdg.game.id})">
                    See Game Page
                </button>
                <p ng-if="gdg.game.status === gdg.gameStatusEnum.WaitingToStart && !gdg.lineupsReady">
                    Please set the lineups for both teams
                </p>
                <button type="button" class="btn btn-primary btn-block"
                        ng-if="gdg.canEndGame()"
                        ng-click="gdg.endGame()">
                    End Game
                </button>
                <button class="btn btn-sm btn-primary btn-block"
                        uib-tooltip="Advance to next period"
                        ng-disabled="gdg.isBusy"
                        ng-click="gdg.goToNextPeriod()"
                        ng-if="gdg.canGoToNextPeriod()">
                    Next Period <i class="fa fa-angle-double-right text-white"></i>
                </button>
                <!--<button type="button" class="btn btn-secondary"
                        ng-if="gdg.game.status !== gdg.gameStatusEnum.WaitingToStart"
                        ng-click="gdg.updateStatus(gdg.gameStatusEnum.WaitingToStart)">
                    Reset Game
                </button>-->
            </div>
        </div>
    </div>
</div>