drbbly-gameeventslist {
    display: block;
    background-color: #fff;

    .teams {
        display: flex;
        justify-content: space-around;

        & > div {
            display: flex;
            align-items: center;
        }

        .logo {
            height: 30px;
            width: 30px;
        }
    }

    .event-row {
        padding: 0.25rem;

        .event-wrapper {
            align-items: center;

            .player-image {
                width: 27px;
                height: 27px;
                object-fit: cover;
                margin: 0 0.25rem;
                border-radius: 50%;
                flex-shrink: 0;
            }

            .clock {
                width: 72px;
                font-size: 0.9rem;
                flex-shrink: 0;
            }
        }

        &.is-team1,
        &.is-team2 {
            display: flex;

            .event-wrapper {
                display: flex;
                width: calc(50% + 36px);
            }
        }

        &.is-team2 {
            justify-content: flex-end;

            .event-wrapper {
                flex-direction: row-reverse;
            }
        }

        &.is-both{
            text-align: center;
        }
    }
}
