drbbly-recordshotmodal {
    .modal-header {
        .player-details {
            width: 100%;

            drbbly-image {
                min-width: 80px;
            }
        }
    }

    .form-row .col-8 {
        select{
            width: calc(100% - 28px);
        }
    }

    input.points {
        max-width: 80px;
    }
}
