<div class="modal-header">
    <div class="player-details d-flex">
        <div class="profile">
            <drbbly-image ng-if="rsm.saveModel.performedBy.profilePhoto"
                          image-url="{{rsm.saveModel.performedBy.profilePhoto.url}}"></drbbly-image>
        </div>
        <drbbly-playerstats player="rsm.saveModel.performedBy"
                            class="flex-grow-1"></drbbly-playerstats>
    </div>
</div>
<div class="modal-body">
    <div drbbly-overlay="rsm.overlay">
        <!-- Shot Details -->
        <div class="shot-details border-bottom mb-3">
            <form name="rsm.frmShot"
                  class="flex-grow-1">
                <h5>Shot Details</h5>
                <div class="form-row">
                    <div class="col-4">
                        <div class="form-group">
                            <label class="m-0">Points:</label>
                            <input type="number"
                                   class="points"
                                   ng-model="rsm.saveModel.points" />
                        </div>
                    </div>
                    <div class="col-12 col-sm-8">
                        <div class="form-group">
                            <div class="form-check-inline">
                                <label class="m-0">
                                    <input type="radio"
                                           ng-value="false"
                                           ng-model="rsm.saveModel.isMiss"
                                           class="form-check-input"
                                           name="madeOrMiss">
                                    Made
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="m-0">
                                    <input type="radio"
                                           ng-value="true"
                                           ng-model="rsm.saveModel.isMiss"
                                           class="form-check-input"
                                           name="madeOrMiss">
                                    Missed
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <!-- Fould Details -->
        <div class="foul-details border-bottom mb-3"
             ng-show="rsm.withFoul">
            <form name="rsm.frmFoul">
                <div class="d-flex align-items-center">
                    <h5>Fouled By:</h5>
                    <button class="btn ml-auto"
                            ng-click="rsm.withFoul = false">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="form-group">
                    <label>Committed By:</label><br />
                    <select class="form-control"
                            ng-model="rsm.foul.performedBy">
                        <option ng-repeat="player in rsm.foulPlayerOptions"
                                ng-value="player">
                            {{player.teamMembership.jerseyNo}} - {{player.teamMembership.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="performedBy"
                           required
                           hidden
                           ng-model="rsm.foul.performedBy.teamMembership.account.id" />
                </div>
                <div class="form-group">
                    <label>Foul Type:</label><br />
                    <select class="form-control"
                            ng-model="rsm.foul.foul">
                        <option ng-repeat="foul in rsm.foulTypeOptions"
                                ng-value="foul"
                                ng-class="{'bg-warning': foul.isTechnical,
                                    'bg-danger': foul.isFlagrant}">
                            {{foul.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="foulType"
                           required
                           hidden
                           ng-model="rsm.foul.foul.id" />
                </div>
            </form>
        </div>
        <!-- Block Details -->
        <div class="foul-details border-bottom mb-3"
             ng-show="rsm.withBlock">
            <form name="rsm.frmBlock">
                <div class="d-flex align-items-center">
                    <h5>Blocked By:</h5>
                    <button class="btn ml-auto"
                            ng-click="rsm.withBlock = false">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="form-group">
                    <select class="form-control"
                            ng-model="rsm.block.performedBy">
                        <option ng-repeat="player in rsm.blockPlayerOptions"
                                ng-value="player">
                            {{player.teamMembership.jerseyNo}} - {{player.teamMembership.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="performedBy"
                           required
                           hidden
                           ng-model="rsm.block.performedBy.teamMembership.account.id" />
                </div>
            </form>
        </div>
        <!-- Assist Details -->
        <div class="foul-details border-bottom mb-3"
             ng-show="rsm.withAssist">
            <form name="rsm.frmAssist">
                <div class="d-flex align-items-center">
                    <h5>Assisted By:</h5>
                    <button class="btn ml-auto"
                            ng-click="rsm.withAssist = false">
                        <i class="fa fa-times"></i>
                    </button>
                </div>
                <div class="form-group">
                    <select class="form-control"
                            ng-model="rsm.assist.performedBy">
                        <option ng-repeat="player in rsm.assistPlayerOptions"
                                ng-value="player">
                            {{player.teamMembership.jerseyNo}} - {{player.teamMembership.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="performedBy"
                           required
                           hidden
                           ng-model="rsm.assist.performedBy.teamMembership.account.id" />
                </div>
            </form>
        </div>
        <div class="additional-options">
            <button class="btn btn-secondary btn-block btn-lg"
                    ng-show="!rsm.withFoul && !rsm.withBlock"
                    ng-click="rsm.addFoul()">
                With Foul
            </button>
            <button class="btn btn-secondary btn-block btn-lg"
                    ng-show="!rsm.withBlock && rsm.saveModel.isMiss && !rsm.withFoul"
                    ng-click="rsm.addBlock()">
                With Block
            </button>
            <button class="btn btn-secondary btn-block btn-lg"
                    ng-show="!rsm.saveModel.isMiss && !rsm.withAssist && rsm.shooterTeam.players.length > 1"
                    ng-click="rsm.addAssist()">
                With Assist
            </button>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            i18n="site.Submit"
            ng-disabled="rsm.isBusy || rsm.frmShot.$invalid
            || (rsm.withFoul && rsm.frmFoul.$invalid) || (rsm.withBlock && rsm.frmBlock.$invalid)"
            type="submit"
            ng-click="rsm.handleSubmitClick()"></button>
    <button i18n="site.Cancel"
            class="btn btn-warning"
            type="button"
            ng-click="rsm.cancel()"
            ng-disabled="rsm.isBusy"></button>
</div>
