<div class="photo-container"
     ui-sref="main.account.home({username: pli.player.username})">
    <img ng-src="{{pli.player.profilePhoto? pli.player.profilePhoto.url : 'src/images/default_images/default_profile_photo.jpg'}}"
         class="w-100" />
    <div class="stats">
        <table>
            <tr class="stat">
                <td class="label" title="Points Per Game">PPG</td>
                <td class="value">{{pli.player.ppg | number : 1}}</td>
            </tr>
            <tr class="stat">
                <td class="label" title="Assists Per Game">APG</td>
                <td class="value">{{pli.player.apg | number : 1}}</td>
            </tr>
            <tr class="stat">
                <td class="label" title="Rebounds Per Game">RPG</td>
                <td class="value">{{pli.player.rpg | number : 1}}</td>
            </tr>
            <tr class="stat" title="3-Point Percentage">
                <td class="label">3P%</td>
                <td class="value">{{pli.player.threePP == null? '-' : (pli.player.threePP | number : 1)}}</td>
            </tr>
            <tr class="stat">
                <td class="label" title="Games Played">GP</td>
                <td class="value">{{pli.player.gp}}</td>
            </tr>
        </table>
    </div>
</div>
<a ui-sref="main.account.home({username: pli.player.username})"
   class="text-line-2">
    {{pli.player.name}}
</a>