<div class="modal-header d-flex"
     ng-hide="mmc.model.hideHeader">
    <h5 ng-if="mmc.model.title"
        class="mb-0">
        {{mmc.model.title}}
    </h5>
    <button class="btn btn-sm btn-outline-secondary ml-auto"
            ng-click="mmc.cancel()">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body py-0">
    <div ng-repeat="player in mmc.model.players"
            class="item d-flex player bg-secondary mb-1"
            ng-click="mmc.onItemClicked(player)">
        <div class="jersey-no p-2"><small>#</small>{{player.jerseyNo}}</div>
        <div class="flex-grow-1 player-name text-center p-2">{{player.name}}</div>
    </div>
</div>
