@model Dribbly.Web.ViewModels.HomeViewModel
<drbbly-navigator></drbbly-navigator>
<h1>Home - Welcome!</h1>

@section Scripts{
    <script src="~/modules/home/home-module.js"></script>
    <script src="~/modules/home/home-controller.js"></script>
}