@model Dribbly.Web.ViewModels.HomeViewModel

<h1>Home - Welcome!</h1>

@section Scripts{
    <script src="~/modules/home/home-module.js"></script>
    <script src="~/modules/home/home-controller.js"></script>
}