<div class="row mt-3 mb-5">
    <div class="col">
        <section class="current-teams">
            <div class="section-header">
                <h5 class="drbbly-header">Teams</h5>
            </div>
            <div ng-if="dtg.tournament.teams && dtg.tournament.teams.length">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4 col-xl-3 d-flex mb-3"
                         ng-repeat="team in dtg.tournament.teams">
                        <div>
                            <img ng-src="{{team.logo? team.logo.url : $root.constants.images.defaultTeamLogoUrl}}"
                                 class="team-logo" />
                        </div>
                        <div class="flex-grow-1 px-3">
                            <a ui-sref="main.team.home({id: team.teamId})">{{team.name}}</a>
                            <div>
                                <button class="btn btn-sm btn-secondary"
                                        ng-if="dtg.isManager"
                                        ng-disabled="team.isBusy"
                                        ng-click="dtg.removeTeam(team)">
                                    Remove
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="dtg.tournament.teams && dtg.tournament.teams.length == 0">
                Participating teams appear here.
            </div>
        </section>
    </div>
</div>
<div class="row mb-5"
     ng-if="dtg.isManager">
    <div class="col-12">
        <section class="join-requests">
            <div class="section-header">
                <h5 class="drbbly-header">Requests</h5>
            </div>
            <div ng-if="dtg.tournament.joinRequests && dtg.tournament.joinRequests.length">
                <div class="row">
                    <div ng-repeat="request in dtg.tournament.joinRequests | orderBy : 'dateAdded' : true"
                         class="join-tournament-request d-flex py-1 col-12 col-sm-6 col-md-4 col-xl-3">
                        <div>
                            <img ng-src="{{request.team.logo? request.team.logo.url : $root.constants.images.defaultTeamLogoUrl}}"
                                 class="team-logo" />
                        </div>
                        <div class="flex-grow-1 px-3">
                            <a ui-sref="main.team.home({id: request.teamId})"
                               class="d-block mb-2">{{request.team.name}}</a>
                            <div>
                                <button class="btn btn-sm btn-primary"
                                        ng-disabled="request.isBusy"
                                        ng-click="dtg.processRequest(request, true)">
                                    Approve
                                </button>
                                <button class="btn btn-sm btn-secondary"
                                        ng-disabled="request.isBusy"
                                        ng-click="dtg.rejectRequest(request)">
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="dtg.tournament.joinRequests && dtg.tournament.joinRequests.length == 0">
                <span>Requests from teams to join this tournament appear here.</span>
            </div>
        </section>
    </div>
</div>
