@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-tournamentteams {
    .join-requests,
    .current-teams {
        .team-logo {
            height: 50px;
            width: 50px;
            object-fit: cover;
        }
    }
}
