@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-teamlistitem {
    display: inline-block;
    position:relative;
    width: 150px;

    .photo-container {
        position: relative;
        width: 100%;

        .stats {
            position: absolute;
            padding-left: 30px;
            top: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba($black,0), rgba($black,0.6) 40%, rgba($black,0.9));

            .stat {
                .label {
                    font-size: 0.7em;
                    color: $gray-300;
                    vertical-align: bottom;
                    line-height: 1
                }

                .value {
                    color: $white;
                    line-height: 1
                }
            }
        }
    }
}
