<div class="container-fluid mobile-toolbar">
    <div class="row">
        <div class="col">
            <drbbly-sitelogo></drbbly-sitelogo>
            <ul class="nav float-right">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="menu-item-icon fa fa-search text-secondary"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="menu-item-icon fa fa-user text-secondary"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>