<div class="container-fluid mobile-toolbar mobile-only">
    <div class="row">
        <div class="col">
            <drbbly-sitelogo></drbbly-sitelogo>
            <ul class="nav float-right">
                <li class="nav-item">
                    <a class="nav-link">
                        <i class="menu-item-icon fa fa-search text-secondary"></i>
                    </a>
                </li>
                <li ng-if="mtb.isAuthenticated()"
                    class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">
                        <i class="menu-item-icon fa fa-user text-secondary"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" ng-click="mtb.logOut()">{{'site.LogOut' | i18n}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>