<div class="container">
    <div class="row mt-3">
        <div class="col-12 col-md-9">
            <div drbbly-overlay="tgc.overlay">
                <uib-tabset active="tgc._activeTabIndex">
                    <!-- #region Teams -->
                    <uib-tab index="1" heading="Upcoming">
                        <div class="row pt-3">
                            <div class="col-md-6 col-xl-4"
                                 ng-repeat="game in (tgc.team.games | filter: tgc.upcomingFilter | orderBy: 'start') track by game.id">
                                <drbbly-gamelistitem class="w-100"
                                                     game="game"></drbbly-gamelistitem>
                            </div>
                            <div class="col-12"
                                 ng-if="(tgc.team.games | filter: tgc.upcomingFilter).length === 0">
                                <p class="text-center py-3">No upcoming games.</p>
                            </div>
                            <div class="col-12">
                                <!-- Ad -->
                                <span class="d-block text-center">Advertisement</span>
                                <drbbly-ad type="'horizontal'"></drbbly-ad>
                            </div>
                        </div>
                    </uib-tab>
                    <uib-tab index="2" heading="All">
                        <div class="row pt-3">
                            <div class="col-md-6 col-xl-4"
                                 ng-repeat="game in (tgc.team.games | orderBy: 'start') track by game.id">
                                <drbbly-gamelistitem class="w-100"
                                                     game="game"></drbbly-gamelistitem>
                            </div>
                            <div class="col-12"
                                 ng-if="(tgc.team.games | filter: tgc.upcomingFilter).length === 0">
                                <p class="text-center py-3">No games yet.</p>
                            </div>
                            <div class="col-12">
                                <!-- Ad -->
                                <span class="d-block text-center">Advertisement</span>
                                <drbbly-ad type="'horizontal'"></drbbly-ad>
                            </div>
                        </div>
                    </uib-tab>
                </uib-tabset>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
</div>
