<span ng-if="dus.entity.entityStatus == $root.constants.enums.entityStatus.Inactive"
      class="text-muted">
    {{::'app.InactiveAccount' | i18n}}
</span>
<span ng-if="dus.entity.entityStatus == $root.constants.enums.entityStatus.Deleted">
    {{::'app.DeletedAccount' | i18n}}
</span>
<div ng-if="dus.entity.entityStatus == $root.constants.enums.entityStatus.Active"
     class="d-inline-flex">
    <a ng-href="{{dus.link}}">
        <img ng-src="{{dus.entity.iconUrl}}"
             class="avatar mr-1"/>
    </a>
    <a ng-href="{{dus.link}}"
       class="name flex-grow-1 text-capitalize">{{dus.entity.name}}</a>
</div>