drbbly-entitystub {
    display: inline-block;

    a img.entity-icon {
        border-radius: 50%;
        width: 1.25em !important;
        height: 1.25em !important;
        clip-path: circle(50%);
        height: 32px;
    }
}
