@model Dribbly.Web.ViewModels.CourtsViewModel

@{
    ViewData["Title"] = "Courts";
}

<h1>Courts</h1>

@section Scripts{
    <script src="~/modules/courts/courts-module.js"></script>
    <script src="~/modules/courts/courts-controller.js"></script>
}