<div class="container">
    <section class="search-section mx-n3">
        <input type="text"
               class="search-textbox form-control"
               placeholder="{{::'app.CourtSearchPrompt' | i18n}}"
               ng-model="dcc.searchKey"
               name="txtSearch" />
    </section>
    <section drbbly-overlay="dcc.courtsListOverlay" class="pt-3">
        <drbbly-courtlist ng-if="dcc.courts"
                          courts="dcc.courts"
                          title-key="{{'app.FeaturedCourts'}}"></drbbly-courtlist>
    </section>
</div>