<div>
    <div class="container-fluid">
        <section class="search-section row">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mx-auto">
                <div class="row no-gutters p-3 search-box">
                    <div class="col-12 d-flex justify-content-between">
                        <h4 class="text-dark m-0">{{::'app.FindACourt' | i18n}}</h4>
                        <button class="btn btn-link"
                                ng-click="dcc.addCourt()">
                            <span class="fa fa-plus"></span>&nbsp;{{::'app.AddACourt' | i18n}}
                        </button>
                    </div>
                    <input type="text"
                           ng-click="dcc.beginSearch()"
                           readonly="readonly"
                           class="search-textbox text-center form-control col-12"
                           placeholder="{{::'app.CourtSearchPrompt' | i18n}}"
                           ng-model="dcc.searchKey"
                           name="txtSearch" />
                    <div class="d-none col-12 text-center">{{::'site.Or' | i18n}}</div>
                    <button class="d-none col-12 btn btn-primary"><i class="fa fa-map-marker"></i>&nbsp;{{::'app.UseMap' | i18n}}</button>
                </div>
            </div>
        </section>
    </div>
    <div class="container">
        <section drbbly-overlay="dcc.courtsListOverlay" class="pt-3">
            <drbbly-courtlist ng-if="dcc.courts"
                              courts="dcc.courts"
                              title-key="{{'app.FeaturedCourts'}}"></drbbly-courtlist>
        </section>
    </div>
</div>