<div class="container app-container px-0 px-sm-3">
    <div drbbly-overlay="dcc.courtsDetailsOverlay">
        <div class="alert alert-info mt-3" role="alert"
             ng-if="dcc.court && dcc.court.isDeleted"
             i18n="app.TheRequestedCourtIsNotAvailable">
        </div>
        <div ng-if="dcc.court && !dcc.court.isDeleted">
            <div id="app-navigation-container" class="container sticky-top mb-3">
                <drbbly-appnavigator nav-items="dcc.app.toolbar._navItems"></drbbly-appnavigator>
            </div>
            <div class="app-body">
                <ui-view court="dcc.court"
                         on-update="dcc.onCourtUpdate"></ui-view>
                <drbbly-nearbycourts reference-coordinates="dcc.court"
                                     title="{{'app.CourtsNearCourtName' | i18n : {courtName: dcc.court.name} }}"
                                     excluded-court="dcc.court"
                                     ng-if="dcc.court"></drbbly-nearbycourts>
            </div>
        </div>
    </div>
</div>
