<div class="app-container">
    <div drbbly-overlay="gvc.overlay">
        <div id="app-header"
             class="container info-summary px-0 px-sm-3">
            <div class="row app-header">
                <div class="col-12">
                    <div class="p-3 border-left border-right gradent-gray-black-v-bg">
                        <div class="row">
                            <div class="col-12 col-md-auto logo-container">
                                <img ng-src="{{gvc.group.logo.url}}"
                                     class="profile-photo d-block mx-auto"
                                     ng-click="gvc.onLogoClick()" />
                                <button id="btn-replace-photo"
                                        class="d-none"
                                        ngf-select="gvc.onLogoSelect($file)"
                                        ng-model="gvc.logo"
                                        ngf-pattern="'image/*'"
                                        ngf-accept="'image/*'"
                                        ngf-max-size="20MB"></button>
                            </div>
                            <div class="col-12 col-md-auto pl-md-0 d-flex align-items-center flex-column align-items-md-start">
                                <h3 class="text-center text-md-left text-white mb-1 text-line-2">{{gvc.group.name}}</h3>
                                <div>
                                    <div class="d-flex" ng-hide="gvc.isBusy">
                                        <div ng-show="!gvc.userGroupRelation.hasPendingJoinRequest"
                                             class="d-inline-block">
                                            <button type="button"
                                                    class="btn btn-primary mb-3"
                                                    ng-show="!gvc.group.userRelationship.isCurrentMember && !gvc.group.userRelationship.hasJoinRequest"
                                                    ng-click="gvc.joinGroup()">
                                                {{::'app.Join' | i18n}}
                                            </button>
                                        </div>
                                        <button type="button"
                                                class="btn btn-secondary mb-3"
                                                ng-show="gvc.group.userRelationship.hasJoinRequest"
                                                ng-click="gvc.cancelJoinRequest()">
                                            {{::'app.CancelRequestToJoin' | i18n}}
                                        </button>
                                        <button class="btn btn-facebook mb-3 ml-1"
                                                ng-click="gvc.fbShare()">
                                            <i class="fa fa-facebook"></i> Share
                                        </button>
                                        <div class="dropdown d-inline-block ml-1"
                                             ng-if="gvc.isAdmin || gvc.group.userRelationship.isCurrentMember">
                                            <button type="button"
                                                    class="btn btn-secondary dropdown-toggle-split"
                                                    data-toggle="dropdown">
                                                <span class="fa fa-ellipsis-h"></span>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <button class="dropdown-item btn btn-secondary"
                                                        ng-if="gvc.isAdmin"
                                                        ng-click="gvc.update()">
                                                    Update Details
                                                </button>
                                                <button class="dropdown-item btn btn-secondary"
                                                        ng-show="gvc.group.userRelationship.isCurrentMember"
                                                        ng-click="gvc.leaveGroup()">
                                                    Leave Group
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <span ng-hide="!gvc.isBusy"
                                          class="btn btn-secondary"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ng-image-gallery images="[gvc.group.logo]"
                          methods="gvc.methods"
                          thumbnails="false"
                          inline="false"
                          bubbles="true"
                          bubble-size="30"
                          img-bubbles="true"
                          bg-close="true"
                          piracy="true"
                          img-anim="fadeup"
                          on-delete="gvc.onDeletePhoto(img, cb)"></ng-image-gallery>
        <div id="app-navigation-container"
             class="container px-0 px-sm-3">
            <div class="row">
                <div class="col-12">
                    <drbbly-appnavigator nav-items="gvc.app.toolbar._navItems"
                                         app="gvc.app"
                                         class="border-left border-right"></drbbly-appnavigator>
                </div>
            </div>
        </div>
        <div id="app-body"
             class="app-body">
            <div class="container"
                 ng-if="gvc.group && gvc.group.entityStatus !== $root.constants.enums.entityStatus.Active">
                <div class="card">
                    <div class="card-body text-center">
                        {{::'app.ContentNotCurrentlyAvailable' | i18n}}
                    </div>
                </div>
            </div>

            <div ng-if="gvc.group && gvc.group.entityStatus === $root.constants.enums.entityStatus.Active">
                <ui-view group="gvc.group"
                         app="gvc.app"
                         on-update="gvc.onGroupUpdate"
                         ng-if="gvc.shouldDisplayAsPublic"></ui-view>
                <div class="container"
                     ng-if="!gvc.shouldDisplayAsPublic">
                    <div class="card">
                        <div class="card-body text-center">
                            {{::'app.ThisGroupIsPrivate' | i18n}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
