<div class="app-container">
    <div class="container">
        <div class="row app-header mb-3">
            <div class="container">
                <div class="row">
                    <div class="non-mobile col-12">
                        <drbbly-appnavigator nav-items="avc.app.toolbar._navItems"></drbbly-appnavigator>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="app-body">
        <div class="container"
             ng-if="avc.team && avc.team.entityStatus !== $root.constants.enums.entityStatus.Active">
            <div class="card">
                <div class="card-body text-center">
                    {{::'app.ContentNotCurrentlyAvailable' | i18n}}
                </div>
            </div>
        </div>

        <div ng-if="avc.team && avc.team.entityStatus === $root.constants.enums.entityStatus.Active">
            <ui-view team="avc.team"
                     on-update="avc.onTeamUpdate"
                     ng-if="avc.shouldDisplayAsPublic"></ui-view>
            <div class="container"
                 ng-if="!avc.shouldDisplayAsPublic">
                <div class="card">
                    <div class="card-body text-center">
                        {{::'app.ThisTeamIsPrivate' | i18n}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
