@model Dribbly.Web.ViewModels.SiteViewModel

<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dribbly.Web</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet">
        <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
        <link href="~/lib/angularjs-toaster/toaster.css" rel="stylesheet" />
        <link href="~/lib/angular-bootstrap-colorpicker/colorpicker.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet">
        <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
        <link href="~/lib/angularjs-toaster/toaster.css" rel="stylesheet" />
        <link href="~/lib/angular-bootstrap-colorpicker/colorpicker.css" rel="stylesheet" />
    </environment>

    @* Site *@
    <link href="~/shared/modules/site/site.css" rel="stylesheet" />
    <link href="~/shared/modules/site/directives/overlay/overlay.directive.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/alertmodal/alertmodal.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/modal/modal.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/navigator/navigator.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/sidenavigator/sidenavigator.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/sitelogo/sitelogo.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/mobiletoolbar/mobiletoolbar.component.css" rel="stylesheet" />
    @* Auth *@
    <link href="~/modules/auth/components/shared/loggedoutmenubar/loggedoutmenubar.css" rel="stylesheet" />
    <link href="~/modules/auth/components/login/login-container/login-container.css" rel="stylesheet" />
    <link href="~/modules/auth/components/signup/signup-container/signup-container.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/rating/rating.component.css" rel="stylesheet" />
    @* App *@
    <link href="~/shared/modules/app/components/profilepicture/profilepicture.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/texteditor/texteditor.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/locationpicker/locationpicker.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/footer/footer.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/app.css" rel="stylesheet" />

    @* Main *@
    <link href="~/modules/main/components/image/image.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/courtprice/courtprice.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/courtlistitem/courtlistitem.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/courtlist/courtlist.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/courtdetails/courtdetails.component.css" rel="stylesheet" />
    <link href="~/modules/main/containers/courtviewercontainer/courtviewercontainer.component.css" rel="stylesheet" />
    <link href="~/modules/main/containers/courtscontainer/courtscontainer.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/courtpreviewmodal/courtpreviewmodal.component.css" rel="stylesheet" />
</head>
<body ng-controller="appController as app">
    <toaster-container toaster-options="{'time-out': 2000, 'position-class': 'toast-top-center'}"></toaster-container>
    @RenderBody()

    <script src="~/lib-extensions/array-extension.js"></script>

    @*Third Party*@
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib-extensions/angular-extension.js"></script>
        <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/lib-extensions/angular-sanitize-custom.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-touch/angular-touch.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCQwPkj7HcSjORBr6z8ZGf56e4uXNPHUuY&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="~/lib/ngmap/ng-map.js"></script>
        <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angularjs-toaster/toaster.js"></script>
        <script src="~/lib/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="~/lib-extensions/angular-wysiwyg-custom.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib-extensions/angular-extension.js"></script>
        <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/lib-extensions/angular-sanitize-custom.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-touch/angular-touch.js"></script>
        <script src="https://maps.google.com/maps/api/js?key=AIzaSyCQwPkj7HcSjORBr6z8ZGf56e4uXNPHUuY&libraries=placeses,visualization,drawing,geometry,places"></script>
        <script src="~/lib/ngmap/ng-map.js"></script>
        <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angularjs-toaster/toaster.js"></script>
        <script src="~/lib/angular-bootstrap-colorpicker/bootstrap-colorpicker-module.js"></script>
        <script src="~/lib-extensions/angular-wysiwyg-custom.js"></script>
    </environment>

    @*Custom Modules*@
    <script src="~/custom/uiroutertitle/uiroutertitle.module.js"></script>

    @* siteModule files *@
    <script src="~/shared/modules/site/site-module.js"></script>
    <script src="~/shared/modules/site/services/settings-service.js"></script>
    <script src="~/shared/modules/site/services/toast.service.js"></script>
    <script src="~/shared/modules/site/services/common.service.js"></script>
    <script src="~/shared/modules/site/services/http-service.js"></script>
    <script src="~/shared/modules/site/services/i18n-service.js"></script>
    <script src="~/shared/modules/site/services/overlay.service.js"></script>
    <script src="~/shared/modules/site/services/modal-service.js"></script>
    <script src="~/shared/modules/site/filters/i18n-filter.js"></script>
    <script src="~/shared/modules/site/directives/i18n.directive.js"></script>
    <script src="~/shared/modules/site/site-controller.js"></script>
    <script src="~/shared/modules/site/components/alertmodal/alertmodal.component.js"></script>
    <script src="~/shared/modules/site/components/navigator/navigator.component.js"></script>
    <script src="~/shared/modules/site/components/sitelogo/sitelogo.component.js"></script>
    <script src="~/shared/modules/site/components/mobiletoolbar/mobiletoolbar.component.js"></script>
    <script src="~/shared/modules/site/components/sidenavigator/sidenavigator.component.js"></script>
    <script src="~/shared/modules/site/components/modal/modal.component.js"></script>
    <script src="~/shared/modules/site/directives/overlay/overlay.directive.js"></script>

    @* authModule files *@
    <script src="~/modules/auth/auth-module.js"></script>
    <script src="~/modules/auth/services/auth-service.js"></script>
    <script src="~/modules/auth/services/authInterceptor-service.js"></script>
    <script src="~/modules/auth/auth-controller.js"></script>

    @* appModule files *@
    <script src="~/shared/modules/app/app-module.js"></script>
    <script src="~/shared/modules/app/app-controller.js"></script>

    @*appModule services*@
    <script src="~/shared/modules/app/services/toolbar.service.js"></script>
    <script src="~/shared/modules/app/services/footer.service.js"></script>
    <script src="~/shared/modules/app/services/map.service.js"></script>

    @*appModule components*@
    <script src="~/shared/modules/app/components/rating/rating.component.js"></script>
    <script src="~/shared/modules/app/components/profilepicture/profilepicture.component.js"></script>
    <script src="~/shared/modules/app/components/locationpicker/locationpicker.component.js"></script>
    <script src="~/shared/modules/app/components/texteditor/texteditor.component.js"></script>
    <script src="~/shared/modules/app/components/footer/footer.component.js"></script>

    @*main Module*@
    <script src="~/modules/main/main-module.js"></script>
    <script src="~/modules/main/main-controller.js"></script>
    <script src="~/modules/main/services/courtshelper.service.js"></script>
    <script src="~/modules/main/services/courts.service.js"></script>

    @*mainModule components*@
    <script src="~/modules/main/components/image/image.component.js"></script>
    <script src="~/modules/main/components/courtprice/courtprice.component.js"></script>
    <script src="~/modules/main/components/courtlistitem/courtlistitem.component.js"></script>
    <script src="~/modules/main/components/courtdetails/courtdetails.component.js"></script>
    <script src="~/modules/main/components/registercourtmodal/registercourtmodal.component.js"></script>
    <script src="~/modules/main/containers/courtviewercontainer/courtviewercontainer.component.js"></script>
    <script src="~/modules/main/components/courtlist/courtlist.component.js"></script>
    <script src="~/modules/main/components/courtpreviewmodal/courtpreviewmodal.component.js"></script>

    <script src="~/modules/auth/components/shared/socialauth/socialauth-component.js"></script>
    <script src="~/modules/auth/components/shared/loggedoutmenubar/loggedoutmenubar-component.js"></script>
    <script src="~/modules/auth/components/login/login-container/login-container-component.js"></script>
    <script src="~/modules/auth/components/login/loginform/loginform-component.js"></script>
    <script src="~/modules/auth/components/signup/signup-container/signup-container-component.js"></script>
    <script src="~/modules/auth/components/signup/signupform/signupform-component.js"></script>

    @*Containers*@

    <script src="~/modules/main/containers/homecontainer/homecontainer.service.js"></script>
    <script src="~/modules/main/containers/homecontainer/homecontainer.component.js"></script>

    @*<script src="~/modules/main/containers/courtscontainer/courtscontainer.service.js"></script>*@
    <script src="~/modules/main/containers/courtscontainer/courtscontainer.component.js"></script>

    <script src="~/modules/main/containers/maincontainer/maincontainer.component.js"></script>
</body>
</html>
