@model Dribbly.Web.ViewModels.SiteViewModel

<!DOCTYPE html>
<html ng-app="mainModule">
<head>
    <base href="/" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dribbly.Web</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet">
        <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
        <link href="~/lib/angularjs-toaster/toaster.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet">
        <link href="~/lib/bootstrap-social/bootstrap-social.css" rel="stylesheet" />
        <link href="~/lib/angularjs-toaster/toaster.css" rel="stylesheet" />
    </environment>
    @* Site *@
    <link href="~/shared/modules/site/site.css" rel="stylesheet" />
    <link href="~/shared/modules/site/directives/overlay/overlay.directive.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/alertmodal/alertmodal.component.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/navigator/navigator.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/sidenavigator/sidenavigator.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/sitelogo/sitelogo.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/mobiletoolbar/mobiletoolbar.css" rel="stylesheet" />
    @* Auth *@
    <link href="~/modules/auth/components/shared/loggedoutmenubar/loggedoutmenubar.css" rel="stylesheet" />
    <link href="~/modules/auth/components/login/login-container/login-container.css" rel="stylesheet" />
    <link href="~/modules/auth/components/signup/signup-container/signup-container.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/rating/rating.component.css" rel="stylesheet" />
    @* App *@
    <link href="~/modules/main/components/image/image.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/court-list-item/court-list-item.component.css" rel="stylesheet" />
    <link href="~/modules/main/components/court-list/court-list.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/components/profilepicture/profilepicture.component.css" rel="stylesheet" />
    <link href="~/modules/main/containers/courts-container/courts-container.component.css" rel="stylesheet" />
    <link href="~/shared/modules/app/app.css" rel="stylesheet" />
</head>
<body ng-controller="appController as app">
    <toaster-container toaster-options="{'time-out': 2000, 'position-class': 'toast-top-center'}"></toaster-container>
    <div id="app-overlay" drbbly-overlay="app.overlay">
        @RenderBody()
    </div>

    @*Third Party*@
    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-touch/angular-touch.js"></script>
        <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angularjs-toaster/toaster.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-ui-router/angular-ui-router.js"></script>
        <script src="~/lib/angular-local-storage/angular-local-storage.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-animate/angular-animate.js"></script>
        <script src="~/lib/angular-touch/angular-touch.js"></script>
        <script src="~/lib/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="~/lib/angularjs-toaster/toaster.js"></script>
    </environment>

    @*Custom Modules*@
    <script src="~/custom/uiroutertitle/uiroutertitle.module.js"></script>

    @* siteModule files *@
    <script src="~/shared/modules/site/site-module.js"></script>
    <script src="~/shared/modules/site/services/settings-service.js"></script>
    <script src="~/shared/modules/site/services/toast.service.js"></script>
    <script src="~/shared/modules/site/services/common.service.js"></script>
    <script src="~/shared/modules/site/services/http-service.js"></script>
    <script src="~/shared/modules/site/services/i18n-service.js"></script>
    <script src="~/shared/modules/site/services/overlay.service.js"></script>
    <script src="~/shared/modules/site/services/modal-service.js"></script>
    <script src="~/shared/modules/site/filters/i18n-filter.js"></script>
    <script src="~/shared/modules/site/directives/i18n.directive.js"></script>
    <script src="~/shared/modules/site/site-controller.js"></script>
    <script src="~/shared/modules/site/components/alertmodal/alertmodal.component.js"></script>
    <script src="~/shared/modules/site/components/navigator/navigator-component.js"></script>
    <script src="~/shared/modules/site/components/sitelogo/sitelogo-component.js"></script>
    <script src="~/shared/modules/site/components/mobiletoolbar/mobiletoolbar-component.js"></script>
    <script src="~/shared/modules/site/components/sidenavigator/sidenavigatorcomponent.js"></script>
    <script src="~/shared/modules/site/components/modal/modal-component.js"></script>
    <script src="~/shared/modules/site/directives/overlay/overlay.directive.js"></script>

    @* authModule files *@
    <script src="~/modules/auth/auth-module.js"></script>
    <script src="~/modules/auth/services/auth-service.js"></script>
    <script src="~/modules/auth/services/authInterceptor-service.js"></script>
    <script src="~/modules/auth/auth-controller.js"></script>

    @* appModule files *@
    <script src="~/shared/modules/app/app-module.js"></script>
    <script src="~/shared/modules/app/app-controller.js"></script>

    @*appModule services*@
    <script src="~/shared/modules/app/services/toolbar.service.js"></script>

    @*appModule components*@
    <script src="~/shared/modules/app/components/rating/rating.component.js"></script>
    <script src="~/shared/modules/app/components/profilepicture/profilepicture.component.js"></script>

    @*main Module*@
    <script src="~/modules/main/main-module.js"></script>
    <script src="~/modules/main/main-controller.js"></script>
    <script src="~/modules/main/services/courtshelper.service.js"></script>
    <script src="~/modules/main/services/courts.service.js"></script>

    @*mainModule components*@
    <script src="~/modules/main/components/image/image.component.js"></script>
    <script src="~/modules/main/components/court-list-item/court-list-item.component.js"></script>
    <script src="~/modules/main/components/registercourtmodal/registercourtmodal.component.js"></script>
    <script src="~/modules/main/components/court-list/court-list.component.js"></script>

    <script src="~/modules/auth/components/shared/socialauth/socialauth-component.js"></script>
    <script src="~/modules/auth/components/shared/loggedoutmenubar/loggedoutmenubar-component.js"></script>
    <script src="~/modules/auth/components/login/login-container/login-container-component.js"></script>
    <script src="~/modules/auth/components/login/loginform/loginform-component.js"></script>
    <script src="~/modules/auth/components/signup/signup-container/signup-container-component.js"></script>
    <script src="~/modules/auth/components/signup/signupform/signupform-component.js"></script>

    @*Containers*@

    <script src="~/modules/main/containers/home-container/home-container.service.js"></script>
    <script src="~/modules/main/containers/home-container/home-container.component.js"></script>

    <script src="~/modules/main/containers/courts-container/courts-container-service.js"></script>
    <script src="~/modules/main/containers/courts-container/courts-container.component.js"></script>

    <script src="~/modules/main/containers/main-container/main-container.component.js"></script>
</body>
</html>
