<!DOCTYPE html>
<html ng-app="siteModule">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dribbly.Web</title>

    <environment include="Development">
        <link href="~/lib/bootstrap/bootstrap.css" rel="stylesheet" />
        <link href="~/lib/font-awesome/font-awesome.css" rel="stylesheet">
    </environment>
    <environment exclude="Development">
        <link href="~/lib/bootstrap/bootstrap.min.scss" rel="stylesheet" />
    </environment>
    <link href="~/shared/modules/site/site.css" rel="stylesheet" />
    <link href="~/shared/modules/site/components/navigator/navigator.css" rel="stylesheet" />
</head>
<body ng-controller="siteController as site">
    @RenderBody()

    <environment include="Development">
        <script src="~/lib/jquery/jquery.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.js"></script>
        <script src="~/lib/angular/angular.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/jquery.min.js"></script>
        <script src="~/lib/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="~/lib/angular/angular.min.js"></script>
    </environment>

    <script src="~/shared/modules/site/site-module.js"></script>
    <script src="~/shared/modules/site/site-controller.js"></script>
    <script src="~/shared/modules/site/components/navigator/navigator-controller.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
