<form name="fpf.frmForgotPassword"
      novalidate
      class="drrbly-login-form">
    <div ng-show="!fpf.emailIssent">
        <h3>{{'auth.ForgotPassword' | i18n}}</h3>
        <p>Please enter your email.</p>
        <div class="form-group">
            <input class="form-control" required ng-model="fpf.model.email" drbbly-emailinput
                   name="txtEmail" type="email" placeholder="{{'site.Email' | i18n}}"
                   ng-class="{'is-invalid': fpf.frmForgotPassword.txtEmail.$touched && fpf.frmForgotPassword.txtEmail.$invalid}" />
            <div ng-show="fpf.frmForgotPassword.txtEmail.$error.required" class="invalid-feedback">
                {{::'site.Required' | i18n}}
            </div>
            <div ng-show="fpf.frmForgotPassword.txtEmail.$error.email" class="invalid-feedback">
                {{::'site.Error_Common_InvalidEmail' | i18n }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit"
                    ng-click="fpf.submit()"
                    ng-disabled="fpf.frmForgotPassword.$invalid || fpf.isBusy"
                    ng-switch="fpf.isBusy"
                    class="btn btn-primary w-100">
                <span ng-switch-when="true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
                <span ng-switch-default>{{'site.Submit' | i18n}}</span>
            </button>
        </div>
    </div>
    <div ng-if="fpf.emailIssent">
        <div class="alert alert-success"
             ng-show="!fpf.isBusy"
             role="alert">
            <h4 class="alert-heading">{{::'auth.ResetLinkSentHeader' | i18n}}</h4>
            <p class="mb-0" ng-bind-html="'auth.ResetLinkSentDetails' | i18n:{email: fpf.model.email}"></p>
        </div>
        <button ng-click="fpf.submit()"
                class="btn btn-link p-0"
                ng-disabled="fpf.isBusy"
                tabindex="-1">
            <i class="fa fa-refresh"
               ng-class="{'fa-spin': fpf.isBusy}"></i>
            <span class="pl-1">{{::'auth.ResendLink' | i18n}}</span>
        </button>
        <br />
        <button ng-click="fpf.emailIssent = false"
                class="btn btn-link p-0"
                ng-disabled="fpf.isBusy"
                tabindex="-1">
            <i class="fa fa-pencil"></i>
            <span class="pl-1">{{::'auth.ChangeEmailAddress' | i18n}}</span>
        </button>
        <br />
    </div>
    <button ng-click="fpf.goBackToLogin()"
            tabindex="-1"
            ng-disabled="fpf.isBusy"
            class="btn btn-link p-0">
        <i class="fa fa-arrow-left"></i>
        <span class="pl-1">{{::'auth.GoBackToLogin' | i18n}}</span>
    </button>
</form>