<div class="map-container" ng-if="dbm.mapApiKey" map-lazy-load="{{'https://maps.google.com/maps/api/js?key=' + dbm.mapApiKey}}">
    <div class="search-textbox-container">
        <input class="form-control"
               type="text"
               places-auto-complete
               size="{{dbm._searchOptions.size}}"
               ng-model="dbm.address"
               component-restrictions="{country:'ph'}"
               types="{{dbm._searchOptions.types}}"
               on-place-changed="dbm._placeChanged()"
               placeholder="{{::'app.SearchTheMap' | i18n}}" />
    </div>
    <div id="{{dbm._options.id}}"
         style="height: 500px;"></div>
</div>