drbbly-videoplayermodal {
    .top-controls {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        width: 100%;
    }

    .videogular-container {
        width: 100vw;
        height: 100vh;
    }
}
