<div class="bg-black row no-gutters position-fixed h-100 w-100 overflow-auto align-content-start align-content-lg-stretch">
    <div class="col-12">
        <div class="top-controls">
            <div class="dropdown"
                 ng-if="vpm.model.options.menuItems.length">
                <button type="button"
                        class="btn btn-lg"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    <i class="fa fa-ellipsis-h"></i>
                </button>
                <div class="dropdown-menu">
                    <button ng-repeat="item in vpm.model.options.menuItems"
                            class="dropdown-item"
                            ng-click="vpm.menuItemClick(item, $event)"
                            ng-hide="item.isHidden && item.isHidden(vpm.video)"
                            type="button">
                        {{item.text}}
                    </button>
                </div>
            </div>
            <button class="btn btn-lg"
                    type="button">
                <i class="fa fa-times"
                   ng-click="vpm.cancel()"></i>
            </button>
        </div>
        <div class="videogular-container">
            <div class="player">
                <video-js class="video-js"></video-js>
            </div>
        </div>
    </div>
</div>