<section drbbly-overlay="dcc.courtsListOverlay" class="pt-3 nearby-courts">
    <h4 class="drbbly-header">{{::'app.NearbyCourts' | i18n}}</h4>
    <div class="slick-slider"
         ng-class="{'slick-dotted': dcc.carouselSettings.dots}">
        <slick settings="dcc.carouselSettings"
               class="dark-transparent-bg">
            <div ng-repeat="court in dcc.nearbyCourts | orderBy : 'distance'"
                 class="px-3">
                <drbbly-courtlistitem class="w-100"
                                      court="court"
                                      on-click="dcc.featuredCourtClick"></drbbly-courtlistitem>
            </div>
        </slick>
    </div>
</section>