<section drbbly-overlay="dcc.courtsListOverlay" class="pt-3 nearby-courts">
    <h4 class="drbbly-header">{{::dcc.title || ('app.NearbyCourts' | i18n)}}</h4>
    <drbbly-courtlist courts="dcc.nearbyCourts"
                      ng-if="dcc.nearbyCourts"
                      settings="dcc.courtListSettings"></drbbly-courtlist>
    <div class="alert alert-warning" role="alert"
         ng-if="dcc.locationAccessDenied">
        <i class="fa fa-exclamation-circle"></i>&nbsp;{{::'app.PleaseAllowAccessToLocationToLoadNearbyCourts' | i18n}}
    </div>
</section>