<div class="row mt-sm-3">
    <div class="col-lg-6 col-md-12">
        <section drbbly-overlay="dcr.courtsListOverlay">
            <button type="button"
                    class="btn btn-primary mb-3"
                    ng-if="dcr.court.canReview"
                    ng-click="dcr.addReview()">
                <i class="fa fa-plus fa-lg"></i>&nbsp;{{'site.Review' | i18n}}
            </button>
            <section ng-if="dcr.reviews && dcr.reviews.length">
                <drbbly-reviewlist reviews="dcr.reviews">
                </drbbly-reviewlist>
            </section>
            <div ng-if="dcr.reviews && !dcr.reviews.length"
                 class="card mt-3 mt-sm-0 mb-3">
                <div class="card-body text-center">
                    <p class="m-0">{{::'app.ThisCourtHasNotRecievedAnyReviewsYet' | i18n}}</p>
                </div>
            </div>
        </section>
    </div>
</div>