@model Dribbly.Web.ViewModels.MainViewModel

@{
    ViewData["Title"] = "Main";
}

<div ui-view></div>

@section Scripts{
    <script src="~/modules/main/main-module.js"></script>
    <script src="~/modules/main/main-controller.js"></script>

    @* home components *@
    <script src="~/modules/main/components/home/home-container/home-container-service.js"></script>
    <script src="~/modules/main/components/home/home-container/home-container-component.js"></script>

    @* courts components *@
    <script src="~/modules/main/components/courts/courts-container/courts-container-service.js"></script>
    <script src="~/modules/main/components/courts/courts-container/courts-container-component.js"></script>
}
