<div class="row mt-sm-3">
    <div class="col">
        <section>
            <div class="section-header d-flex">
                <h5 class="drbbly-header">Games</h5>
                <!--<button class="btn btn-sm btn-primary ml-auto"
                        ng-if="dtg.isManager"
                        ng-click="dtg.addGame()">
                    <i class="fa fa-plus"></i> Add Game
                </button>-->
            </div>
            <div class="py-3 d-flex"
                 ng-show="dtg.hasStages">
                <select ng-model="dtg.filter.stageId"
                        ng-change>
                    <option ng-repeat="option in dtg.ddlStageChoices"
                            ng-value="{{option.value}}"
                            ng-selected="dtg.filter.stageId === option.value">
                        {{option.text}}
                    </option>
                </select>
            </div>
            <div ng-if="dtg.tournament.games && dtg.tournament.games.length">
                <div class="row">
                    <drbbly-gamelistitem ng-repeat="game in (dtg.tournament.games | filter : dtg.gamesFilter | orderBy: 'start') track by game.id"
                                         class="mb-3 mx-3"
                                         can-delete="dtg.canDeleteItem"
                                         can-edit="dtg.canEditItem"
                                         game="game"></drbbly-gamelistitem>
                </div>
            </div>
            <div ng-if="dtg.tournament.games && dtg.tournament.games.length === 0">
                <p class="text-secondary">(No games scheduled yet.)</p>
                <p ng-if="dtg.isManager">
                    Use the <a ui-sref="main.tournament.stages({id: dtg.tournament.id})" tabindex>Stages tab</a> to
                    add games and teams to each stage of the tournament.
                </p>
            </div>
        </section>
    </div>
</div>
