<div class="row mt-sm-3">
    <div class="col">
        <section>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="d-flex">
                        <span class="">
                            <span class="font-weight-semibold">{{dtg.tournament.games.length}}</span>
                            &nbsp;games found
                        </span>
                        <button class="btn btn-primary ml-auto"
                                ng-click="dtg.addGame()">
                            <i class="fa fa-plus"></i> Add Game
                        </button>
                    </div>
                </div>
            </div>
            <div ng-if="dtg.tournament.games && dtg.tournament.games.length">
                <div class="row">
                    <div class="col-12">
                        <drbbly-gamelist games="dtg.tournament.games"
                                         can-delete-item="dtg.canDeleteItem"
                                         can-edit-item="dtg.canEditItem"></drbbly-gamelist>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
