<div drbbly-overlay="dad.overlay">
    <div class="container px-0 px-sm-3">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="bg-light p-3">
                    <dl class="row">
                        <dt class="col-2">
                            <span class="d-none d-sm-inline">{{::'app.Height' | i18n}}</span>
                            <span class="d-inline d-sm-none"><i class="fa fa-arrows-v"></i></span>
                        </dt>
                        <dd class="col-10">
                            {{dad.account.heightInches | height}}
                        </dd>
                        <dt class="col-2">
                            <span class="d-none d-sm-inline">{{::'app.Gender' | i18n}}</span>
                            <span class="d-inline d-sm-none">&#9893;</span>
                        </dt>
                        <dd class="col-10">
                            {{dad.account.gender | gender}}
                        </dd>
                        <dt class="col-2">
                            <span class="d-none d-sm-inline">{{::'app.Age' | i18n}}</span>
                        </dt>
                        <dd class="col-10">
                            {{'app.AgeValue' | i18n : { age: dad.account.age } }}
                        </dd>
                        <dt class="col-2">
                            <span class="d-none d-sm-inline">{{::'app.DateJoined' | i18n}}</span>
                            <span class="d-inline d-sm-none"><i class="fa fa-calendar"></i></span>
                        </dt>
                        <dd class="col-10">
                            <span class="d-none d-sm-inline">{{dad.account.dateAdded | date}}</span>
                            <span class="d-inline d-sm-none">{{'app.JoinedOnDate' | i18n : {date: $root.$filter('date')(dad.account.dateAdded, 'mediumDate')} }}</span>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bg-secondary w-100 h-100"></div>
            </div>
        </div>
    </div>
</div>
