@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-timegridevent {
    cursor: pointer;

    &.fc-event {
        background-color: $teal;
        border-color: darken($teal, 15%);
    }
}
