@import '../../../../../custom/bootstrap/scss/_variables.scss';

drbbly-post {
    display: block;
    background-color: rgba($black, 0.6);

    & > div {
        border-radius: 0.25rem;
    }

    .embeded-content {
        background-color: $black;

        & > iframe {
            width: 100%;
            max-width: 560px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    .comment{
        & .content{
            background-color: $gray-900;
            border-radius: 0.5rem;
        }
    }
}
