<div class="container">
    <div class="row">
        <div class="col-12 col-md-9">
            <section class="mt-3">
                <h3>Player Search</h3>
                <drbbly-playersearch search-key="psc.searchKey"
                                     on-ready="psc.onSearchComponentReady"
                                     on-search="psc.onSearch"></drbbly-playersearch>
            </section>
        </div>
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
</div>