<div class="" ng-click="cli.clicked($event)">
    <div class="text-center text-secondary small">{{cli.game.title || '(untitled)'}}</div>
    <div class="d-flex">
        <div class="team1 text-center">
            <img class="team-logo"
                 ng-src="{{cli.game.team1.team.logo.url || $root.constants.images.defaultTeamLogoUrl}}" />
            <a ui-sref="main.team.home({id: cli.game.team1.teamId})"
               ng-click="cli.stopPropagation($event)"
               class="d-block small">{{cli.game.team1.isOpen? '(open team)' : cli.game.team1.shortName}}</a>
            <div class="text-center font-weight-bold score"
                 ng-hide="cli.game.status === $root.constants.enums.gameStatusEnum.WaitingToStart"
                 ng-class="{'text-secondary': cli.game.winningTeamId !== null && cli.game.winningTeamId !== cli.game.team1Id}">{{cli.game.team1Score}}</div>
        </div>
        <div class="flex-grow-1 text-center">
            <div ng-if="cli.game.status === $root.constants.enums.gameStatusEnum.Started
                 || cli.game.status === $root.constants.enums.gameStatusEnum.Finished">
                <div class="text-secondary text-center my-3">
                    {{cli.game.status === $root.constants.enums.gameStatusEnum.Finished? 'FINAL': 'STARTED'}}
                </div>
                <div>
                    <div class="small text-secondary"
                         ng-if="cli.game">
                        {{cli.game.start | date: 'dd-MMM-yy'}}
                    </div>
                    <div class="small text-secondary"
                         ng-if="cli.game">
                        {{cli.game.start | date: 'hh:mm a'}}
                    </div>
                </div>

            </div>
            <div ng-if="cli.game.status === $root.constants.enums.gameStatusEnum.WaitingToStart">
                <div class="font-weight-semibold"
                     ng-if="cli.game">
                    {{cli.game.start | date: 'dd-MMM-yy'}}
                </div>
                <div class="font-weight-semibold"
                     ng-if="cli.game">
                    {{cli.game.start | date: 'hh:mm a'}}
                </div>
            </div>
            <div class="controls">
                <button class="btn btn-sm btn-secondary"
                        ng-click="cli._openInNewTab(cli.game, $event)">
                    <i class="fa fa-external-link"></i>
                </button>
                <button class="btn btn-sm btn-facebook"
                        data-no-redirect="true"
                        ng-click="cli.fbShare($event)">
                    <i class="fa fa-share"></i>
                </button>
                <div class="dropdown d-inline-block"
                     ng-if="cli._canEdit() || cli._canDelete()">
                    <button class="btn btn-sm btn-secondary dropdown-toggle no-caret"
                            role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-ellipsis-h"></i>
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item btn btn-sm btn-secondary"
                           ng-if="cli._canEdit()"
                           ng-click="cli.edit(cli.game, $event)">
                            <i class="fa fa-pencil"></i> Edit Game
                        </a>
                        <a class="dropdown-item btn btn-sm btn-danger text-danger"
                           ng-if="cli._canDelete()"
                           ng-click="cli.remove(cli.game, $event)">
                            <i class="fa fa-trash"></i> Delete Game
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="team2 text-center">
            <img class="team-logo"
                 ng-src="{{cli.game.team2.team.logo.url || $root.constants.images.defaultTeamLogoUrl}}" />
            <a ui-sref="main.team.home({id: cli.game.team2.teamId})"
               ng-click="cli.stopPropagation($event)"
               class="d-block small">{{cli.game.team2.isOpen? '(open team)' : cli.game.team2.shortName}}</a>
            <div class="text-center font-weight-bold score"
                 ng-hide="cli.game.status === $root.constants.enums.gameStatusEnum.WaitingToStart"
                 ng-class="{'text-secondary': cli.game.winningTeamId !== null && cli.game.winningTeamId !== cli.game.team2Id}">{{cli.game.team2Score}}</div>
        </div>
    </div>
</div>