<div class="container">
    <div class="row">
        <div class="col-12 col-md-9 mb-5">
            <div class="row">
                <div class="col-12 mb-3">
                    <span class="text-white"
                          ng-if="dav.videos">{{'app.FoundCountVideos' | i18n: {count: dav.videos.length} }}</span>
                    <a class="btn-link float-right"
                       ng-if="::dav.isOwned || ('Account.AddVideoNotOwned' | drbblyPermission)"
                       ngf-select="dav.addVideo($files)"
                       ngf-pattern="'video/*'"
                       ngf-multiple="false"
                       ngf-accept="'video/*'"
                       ngf-max-size="{{dav.maxSize}}"
                       href="#">
                        <i class="fa fa-plus"></i>&nbsp;{{::'app.UploadAVideo' | i18n}}
                    </a>
                </div>
            </div>
            <div drbbly-overlay="dav.overlay">
                <div class="row videos">
                    <drbbly-videolistitem ng-repeat="video in dav.videos"
                                          class="col-12 col-sm-6 col-md-4 col-xl-3"
                                          video="video"></drbbly-videolistitem>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
</div>
