@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-gamedetails {

    .teams {

        .vs {
            font-size: 1.5em;
        }

        .score {
            font-size: 5em;
        }

        .logo {
            height: 70px;
            width: 70px;
        }
    }
}
