@import '../../../../../custom/bootstrap/scss/_variables.scss';

drbbly-notificationswidget {

    .notification-badge-container {
        position: relative;
        display: inline;

        small {
            position: absolute;
            top: -8px;
            left: -8px;
        }
    }

    .notifications-dropdown-menu {
        max-width: 350px;
        width: 350px;
        padding-top: 0;

        .items-container {
            max-height: 400px;
            overflow-y: auto;

            .items {

                .unviewed:not(:hover) {
                    background-color: rgba(44,44,44,0.9);
                }
            }

            .loading-indicator{
                position:absolute;
                bottom: 0;
                width: 100%;
            }
        }
    }
}
