drbbly-jumpballmodal {
    .team-details{
        margin-bottom: 5px;

        .logo{
            width: 30px;
            height: 30px;
        }
    }
    .vs{
        text-align: center;
        align-self: center;
    }
}
