drbbly-uploadvideomodal {

    video {
        background-color: #000;
        width: 100%;
    }

    .file-details {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
