<a ng-href="{{::dni.targetLink}}" class="link-unstyled">
    <div class="text-wrap">
        <div ng-if="dni.item.type === $root.constants.enums.notificationType.NewBookingForBooker"
             ng-bind-html="('app.Notification_ABookingHasBeenMadeForYouAtCourtName' | i18n : {courtName: dni.item.courtName})">
        </div>
        <div ng-if="dni.item.type === $root.constants.enums.notificationType.NewBookingForOwner"
             ng-bind-html="('app.Notification_UserMadeABookingAtCourtName' | i18n : {courtName: dni.item.courtName, userName: dni.item.bookedByName})">
        </div>
        <div ng-if="dni.item.type === $root.constants.enums.notificationType.JoinTeamRequest"
             ng-bind-html="('app.Notification_JoinTeamRequest' | i18n : {requestorName: dni.item.requestorName, teamName: dni.item.teamName})">
        </div>
    </div>
    <small class="text-muted float-right">
        <drbbly-date date="dni.item.dateAdded"
                     as-from-now="true"></drbbly-date>
    </small>
</a>