@import '../../../../../custom/bootstrap/scss/_variables.scss';

drbbly-appnavigator {
    display: block;
    background-color: $black;

    ul.nav {
        flex-wrap: nowrap;
        overflow-x: auto;

        & > .nav-item {

            & > .nav-link {
                padding: 0;

                &.active > *{
                    border-bottom: 3px solid $primary;
                }
            }
        }
    }
}
