<div drbbly-overlay="dcd.overlay">
    <div class="row mb-3">
        <div class="col-12">
            <div ng-if="dcd.court" class="primary-photo-container">
                <drbbly-image class="primary-photo"
                              on-click="dcd.onPrimaryPhotoClick"
                              image-url="{{dcd.court.primaryPhoto.url || './images/default_images/court_default_1.png'}}"></drbbly-image>
                <div class="controls float-right">
                    <button class="btn btn-sm btn-outline-light"
                            ng-if="dcd.isOwned || ('Court.UpdateNotOwned' | drbblyPermission)"
                            ngf-select="dcd.changePrimaryPicture($file)"
                            ng-model="dcd.profilePicture"
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'"
                            ngf-max-size="20MB">
                        <span class="fa fa-pencil" aria-hidden="true"></span>
                    </button><br />
                </div>
                <ng-image-gallery images="dcd.photos"
                                  methods="dcd.methods"
                                  thumbnails="false"
                                  thumb-size="100"
                                  inline="false"
                                  bubbles="true"
                                  bubble-size="30"
                                  img-bubbles="true"
                                  bg-close="true"
                                  piracy="true"
                                  img-anim="fadeup"
                                  on-delete="dcd.deletePhoto(img, cb)"></ng-image-gallery>
            </div>
        </div>
        <div class="col-12">
            <div class="p-3 bg-black">
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-5 mb-3 text-center text-md-left">
                        <h4 class="name d-block text-white">{{dcd.court.name}}</h4>
                        <div class="d-block"
                             ng-if="dcd.court.reviewCount">
                            <drbbly-rating value="dcd.court.rating"></drbbly-rating>
                            <a ui-sref="main.court.reviews({id: dcd.court.id})"
                               class="text-secondary">{{'app.ReviewCountDisplay' | i18n : {count: dcd.court.reviewCount} }}</a>
                        </div>
                        <span class="text-white">{{'site.FollowerCountDisplay' | i18n:{count: (dcd.court.followerCount | drbblyNumber)} }}</span>
                    </div>
                    <div class="col-12 col-md-6 col-lg-7">
                        <div class="row">
                            <div class="col-12 col-lg-7 mb-3 text-center">
                                <button class="btn btn-primary"
                                        type="button"
                                        ng-disabled="dcd.isBusy"
                                        ng-click="dcd.addGame()">
                                    <i class="fa fa-plus mr-1"></i>{{::'app.NewGame' | i18n}}
                                </button>
                                <button class="btn btn-primary"
                                        type="button"
                                        ng-if="!dcd.isOwned"
                                        ng-disabled="dcd.isBusy"
                                        ng-click="dcd.follow()"
                                        ng-switch="dcd.court.isFollowed">
                                    <span ng-switch-when="true">{{::'site.Unfollow' | i18n}}</span>
                                    <span ng-switch-default>+ {{::'site.Follow' | i18n}}</span>
                                </button>
                                <button ng-click="dcd.showContact()"
                                        class="btn btn-secondary"
                                        ng-if="!dcd.isOwned"
                                        type="button">
                                    <i class="fa fa-phone"></i>&nbsp;{{::'site.Contact' | i18n}}
                                </button>
                                <div class="dropdown d-inline-block"
                                     ng-if="dcd.isOwned || ('Court.DeleteNotOwned' | drbblyPermission)">
                                    <button type="button" class="btn btn-secondary dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <span class="fa fa-ellipsis-h"></span>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           ng-if="dcd.isOwned || ('Court.DeleteNotOwned' | drbblyPermission)"
                                           ng-click="dcd.deleteCourt()">{{::'app.DeleteCourt' | i18n}}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-5 mb-3 text-center">
                                <h3 class="text-warning rate"
                                    ng-if="!dcd.court.isFreeToPlay">
                                    {{ (dcd.court.ratePerHour || 0) | currency:'P':0 }}
                                    <small>{{::'site.SlashHour' | i18n}}</small>
                                </h3>
                                <h3>
                                    <span ng-if="dcd.court.isFreeToPlay" class="badge badge-success">{{::'app.FreeToPlay' | i18n}}</span>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="dcd.court" class="court-details">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="bg-light p-3">
                    <dl class="row">
                        <dt class="col-1">
                            <i class="fa fa-user"></i>
                        </dt>
                        <dd class="col-11">
                            <small class="text-muted">{{::'app.AddedBy' | i18n}}</small>&nbsp;<drbbly-userstub user="dcd.court.owner" class="text-dark"></drbbly-userstub>
                            <button ng-if="dcd.isOwned || ('Court.UpdateNotOwned' | drbblyPermission)"
                                    ng-click="dcd.edit()"
                                    class="btn btn-secondary float-right">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </button>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-calendar"></i>
                        </dt>
                        <dd class="col-11">
                            <small class="text-muted">{{::'app.AddedOn' | i18n}}</small>&nbsp;<span>{{dcd.court.dateAdded | date}}</span>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-info-circle"></i>
                        </dt>
                        <dd class="col-11">
                            <div ng-bind-html="dcd.court.additionalInfo || ('app.NoAdditionalInfo' | i18n)"></div>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-map-marker"></i>
                        </dt>
                        <dd class="col-11 col-md-8">
                            <drbbly-map options="dcd.mapOptions"
                                        on-map-ready="dcd.onMapReady"></drbbly-map>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bg-secondary w-100 h-100"></div>
            </div>
        </div>
    </div>
</div>