<div drbbly-overlay="dcd.overlay">
    <div ng-if="dcd.court" class="court-details">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="bg-light p-3">
                    <dl class="row">
                        <dt class="col-1">
                            <i class="fa fa-user"></i>
                        </dt>
                        <dd class="col-11">
                            <small class="text-muted">{{::'app.AddedBy' | i18n}}</small>&nbsp;<drbbly-userstub user="dcd.court.owner" class="text-dark"></drbbly-userstub>
                            <button ng-if="dcd.isOwned || ('Court.UpdateNotOwned' | drbblyPermission)"
                                    ng-click="dcd.edit()"
                                    class="btn btn-secondary float-right">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </button>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-calendar"></i>
                        </dt>
                        <dd class="col-11">
                            <small class="text-muted">{{::'app.AddedOn' | i18n}}</small>&nbsp;<span>{{dcd.court.dateAdded | date}}</span>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-info-circle"></i>
                        </dt>
                        <dd class="col-11">
                            <div ng-bind-html="dcd.court.additionalInfo || ('app.NoAdditionalInfo' | i18n)"></div>
                        </dd>
                        <dt class="col-1">
                            <i class="fa fa-map-marker"></i>
                        </dt>
                        <dd class="col-11 col-md-8">
                            <drbbly-map options="dcd.mapOptions"
                                        on-map-ready="dcd.onMapReady"></drbbly-map>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="bg-secondary w-100 h-100"></div>
            </div>
        </div>
    </div>
</div>