@import '../../../custom/bootstrap/scss/_variables.scss';


body {
    background: url('../../../images/backgrounds/site_background.jpg') fixed center;
}

.top-bar {
    border-bottom: 2px solid $orange;
}

.bg-dark {
    background-color: #282828 !important;
    color: $bgDarkFontColor;
}

    .bg-dark .separator {
        border: 1px #5a5a5a inset;
    }

.nav li > a {
    color: #777;
}

    .nav li > a:hover, .nav li > a:active, .nav li > a.active,
    .drbbly-header {
        color: $cyan;
    }

/****************
    Icons
****************/

/* Register our own font */
@font-face {
    font-family: 'dribbly';
    src: url('../../../fonts/dribbly/dribbly.eot?#iefix') format('embedded-opentype');
    src: url('../../../fonts/dribbly/dribbly.eot?#iefix') format('embedded-opentype'), url('../../../fonts/dribbly/dribbly.ttf') format('truetype'), url('../../../fonts/dribbly/dribbly.woff') format('woff'), url('../../../fonts/dribbly/dribbly.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

.drbbly-font {
    font-family: dribbly;
    font-style: normal;
    font-weight: normal;
}

    .drbbly-font.court-inclined::before {
        content: '\e903';
    }

    .drbbly-font.players::before {
        content: '\e901';
    }

    .drbbly-font.games::before {
        content: '\e904';
    }

    .drbbly-font.trashcan::before {
        content: '\e905';
    }

    .drbbly-font.court-horizontal::before {
        content: '\e900';
    }

/****************
    Widths
****************/

@media (max-width: 575px) {

    .w-xs-100 {
        width: 100%;
    }

    /* for things that should not show on mobile design */
    .non-mobile {
        display: none !important;
    }
}

/****************
   Typography
****************/
.line-height-1 {
    line-height: 1rem;
}

.text-underlined {
    text-decoration: underline;
}

/*******************
    Miscellaneous
*******************/
@media (min-width: 576px) {
    /* for things that are only for mobile design */
    .mobile-only {
        display: none !important;
    }
}

/*************************
    Library Overrides
*************************/

/* NgMap */
.pac-container {
    z-index: 1050 !important; /*Allows auto complete results to show over bootstrap modals. Modals have 1050 z-index*/
}

/***** Bootstrap *****/
/* Modals */
.modal-content {
    border-radius: 0;
}

@media (max-width: 575px) {
    .modal-dialog {
        margin: 0;
    }
}


/******** Ng-Image-Gallery ********/

/* Removes space between thumbnails */
.ng-image-gallery .ng-image-gallery-thumbnails .thumb {
    margin: 0 !important;
}

.ng-image-gallery .ng-image-gallery-thumbnails .thumb > .loader {
    width: unset !important;
}