<script type="text/ng-template" id="dcc.priceTemplate">
    <div class="row price-container">
        <div class="col-12 price">
            <span class="mr-2">{{court.ratePerHour | currency}}</span>
            <small>{{::'site.SlashHour'}}</small>
            <button class="btn-outline-primary">
                {{::'Book Now'}}
            </button>
        </div>
    </div>
</script>
<div class="container">
    <div drbbly-overlay="dcc.courtsDetailsOverlay">
        <drbbly-courtdetails court="dcc.court"
                             ng-if="dcc.court"
                             on-update="dcc.onCourtUpdate"></drbbly-courtdetails>
    </div>
</div>