<div class="container">
    <div class="row py-3">
        <div class="col-12 col-md-9">
            <div class="row black-transparent-bg py-3 mb-3">
                <div class="col-12">
                    <h5 class="drbbly-header">Details</h5>
                </div>
                <div class="col-12">
                    <ul class="list-group">
                        <li class="d-block">
                            <span class="text-muted">Full Name:</span>
                            <span class="text-white">{{ghc.group.name}}</span>
                        </li>
                        <li class="d-block">
                            <span class="text-muted">Created On:</span>
                            <drbbly-date date="ghc.group.dateAdded"
                                         format="dd-MMM-yy"></drbbly-date>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row black-transparent-bg py-3 mb-3">
                <div class="col-12 d-flex">
                    <h5 class="drbbly-header">Top Players</h5>
                    <a ui-sref="main.group.members({id: ghc.groupId})"
                       class="ml-auto">See All</a>
                </div>
                <div class="col-12">
                    <div drbbly-overlay="ghc.topPlayersOverlay">
                        <div class="slick-slider"
                             ng-if="ghc.topPlayers.length > 0"
                             ng-class="{'slick-dotted': ghc.carouselSettings.dots}">
                            <slick settings="ghc.carouselSettings"
                                   class="dark-transparent-bg">
                                <div ng-repeat="player in ghc.topPlayers"
                                     class="px-3">
                                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                                </div>
                            </slick>
                        </div>
                        <div class="row">
                            <div class="col text-center p-3"
                                 ng-if="ghc.topPlayers.length === 0">
                                No data yet
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <drbbly-posts options="ghc.postsOptions"
                                  ng-if="ghc.postsOptions"></drbbly-posts>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- Ad -->
            <span class="d-block text-center">Advertisement</span>
            <drbbly-ad type="'horizontal'"></drbbly-ad>
        </div>
    </div>
</div>