<div class="modal-header">
    <h3 class="modal-title">{{::pdm.model.isEdit? 'Edit Post':'Create Post'}}</h3>
</div>
<div class="modal-body">
    <div drbbly-overlay="pdm.overlay">
        <form name="pdm.frmPostDetails"
              novalidate
              ng-if="pdm.saveModel">
            <fieldset ng-disabled="pdm.isBusy">
                <div class="form-group">
                    <drbbly-texteditor class="d-block texteditor-dark"
                                       options="{placeholder: 'Write something...'}"
                                       value="pdm.saveModel.content"></drbbly-texteditor>
                    <input name="content" type="text" hidden ng-model="pdm.saveModel.content" />
                </div>
            </fieldset>
        </form>
        <div ng-if="pdm.postingEmbededContent">
            <form name="pdm.frmEmbed">
                <div>
                    <div class="d-flex align-items-center">
                        <label>Paste Facebook/YouTube embed code:</label>
                        <button class="btn btn-sm ml-auto"
                                ng-click="pdm.postingEmbededContent = false">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                    <input type="text"
                           id="embed-code-input"
                           class="form-control"
                           required
                           ng-model="pdm.embedCode"
                           ng-change="pdm.embedCodePasted(pdm.embedCode)" />
                    <div class="invalid-feedback"
                         ng-class="{'d-block':pdm.invalidEmbedCode}">
                        Unsupported embed code
                    </div>
                </div>
            </form>
            <div class="overflow-auto embeded-content"
                 ng-show="pdm.embedSrc">
                <div class="bg-white w-100">
                    <iframe ng-src="{{pdm.embedSrc}}"
                            class="w-100"></iframe>
                </div>
            </div>
        </div>
        <ng-image-gallery images="pdm.attachments"
                          methods="pdm.methods"
                          thumbnails="true"
                          thumb-size="100"
                          inline="true"
                          bubbles="true"
                          bubble-size="30"
                          img-bubbles="true"
                          bg-close="true"
                          piracy="true"
                          img-anim="fadeup"
                          image-as-backdrop="false"
                          on-delete="pdm.deletePhoto(img, cb)"></ng-image-gallery>
        <div ng-class="{'d-block': pdm.frmPostDetails.$invalid && pdm.frmPostDetails.$submitted}"
             class="invalid-feedback mb-0 mt-3">
            {{::'site.Error_Common_PleaseFixErrors' | i18n}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="mr-auto"
         ng-show="!pdm.postingEmbededContent">
        <button class="btn px-2"
                ngf-select="pdm.onMediaSelect($files)"
                ngf-pattern="'image/*,video/*'"
                ngf-accept="'image/*,video/mp4'"
                ngf-multiple="true"
                ngf-max-size="20MB"
                ng-disabled="pdm.isBusy"
                title="Add a Photo or Video">
            <i class="fa fa-photo"></i>
        </button>
        <button class="btn px-2"
                ng-if="pdm.attachments.length === 0"
                ng-click="pdm.embedFacebook()"
                title="Share Content From Another Website">
            <i class="fa fa-code"></i>
        </button>
    </div>
    <button class="btn btn-primary"
            ng-disabled="pdm.isBusy || (pdm.frmPostDetails.$pristine && pdm.frmEmbed.$pristine)
            || (!pdm.saveModel.content && pdm.attachments.length === 0 && !pdm.embedCode)
            || (pdm.postingEmbededContent && pdm.invalidEmbedCode)"
            type="submit"
            ng-click="pdm.submit()"
            ng-switch="pdm.isBusy">
        <span ng-switch-default>{{::'site.Submit'| i18n}}</span>
        <span ng-switch-when="true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    </button>
    <button i18n="{{::'site.Cancel'}}"
            ng-disabled="pdm.isBusy"
            class="btn btn-secondary"
            type="button"
            ng-click="pdm.cancel()"></button>
</div>