<div class="modal-header">
    <h3 class="modal-title" i18n="{{::pdm.model.isEdit? 'app.EditPost':'app.CreateANewPost'}}"></h3>
</div>
<div class="modal-body">
    <form name="pdm.frmPostDetails"
          novalidate
          ng-if="pdm.post">
        <fieldset ng-disabled="pdm.isBusy">
            <div class="form-group">
                <drbbly-texteditor class="d-block mb-1"
                                   value="pdm.post.content"></drbbly-texteditor>
                <input name="content" type="text" hidden ng-model="pdm.post.content" />
            </div>
        </fieldset>
    </form>
    <div ng-class="{'d-block': pdm.frmPostDetails.$invalid && pdm.frmPostDetails.$submitted}"
         class="invalid-feedback mb-0 mt-3">
        {{::'site.Error_Common_PleaseFixErrors' | i18n}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-disabled="pdm.isBusy"
            type="submit"
            ng-click="pdm.submit()"
            ng-switch="pdm.isBusy">
        <span ng-switch-default>{{::'site.Submit'| i18n}}</span>
        <span ng-switch-when="true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    </button>
    <button i18n="{{::'site.Cancel'}}"
            class="btn btn-secondary"
            type="button"
            ng-click="pdm.cancel()"></button>
</div>