<!--<div class="d-none fixed-bottom container px-0 px-sm-3">
    <div class="row">
        <div class="col">
            <div id="dynamic-footer-contents"></div>
            <div ng-if="ftr.toolbar._navItems && ftr.toolbar._navItems.length" class="app-navigator">
                <drbbly-appnavigator nav-items="ftr.toolbar._navItems"></drbbly-appnavigator>
            </div>
        </div>
    </div>
</div>-->
<div class="container non-mobile">
    <footer id="fh5co-footer" class="p-3 bg-black" role="contentinfo">
        <div class="row row-pb-md">
            <div class="col-md-4 fh5co-widget">
                <h3>{{::'site.AboutUs' | i18n}}</h3>
                <p>We are a small startup fueled by a big love for basketball. Join us as we embark on this exciting journey to elevate the game together.</p>
            </div>
            <div class="col-md-4">
                <h3>{{::'site.LetsChat' | i18n}}</h3>
                <!--<p><i class="fa fa-location-arrow"></i> 9878/25 sec 9 rohini 35 </p>-->
                <!--<p><i class="fa fa-phone"></i>  +63-916XXXXXXX  </p>-->
                <p><i class="fa fa fa-envelope"></i> <a href="mailto: inquiries@freehoops.net">inquiries@freehoops.net</a>  </p>
            </div>
            <div class="col-md-4">
                <h3>{{::'site.FollowUs' | i18n}}</h3>
                <ul class="social_footer_ul mb-3">
                    <li class="fb"><a href="http://facebook.com/freehoops"><i class="fa fa-facebook-f"></i></a></li>
                    <!--<li class="yt"><a href="http://youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                    <li class="twitter"><a href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
                    <li class="ig"><a href="http://instagram.com"><i class="fa fa-instagram"></i></a></li>-->
                </ul>
            </div>
        </div>
        <hr />
        <div class="row copyright">
            <div class="col-md-12 text-center">
                <small class="d-block">FreeHoops.net &copy; 2017 | All Rights Reserved.</small>
                <a href="https://www.freehoops.net/Home/Privacy" rel="external nofollow noopener" target="_blank">Privacy Policy</a>
            </div>
        </div>
    </footer>
</div>