<form name="prf.frmResetPassword"
      ng-show="!prf.isComplete">
    <h3>{{'auth.ResetPassword' | i18n}}</h3>
    <div class="form-group">
        <label for="password">{{::'site.NewPassword' | i18n}}</label>
        <input class="form-control"
               required
               ng-model="prf.model.password"
               ng-pattern="$root.constants.PASSWORD_VALIDATION_REGEX"
               ng-class="{'is-invalid': prf.frmResetPassword.password.$touched && prf.frmResetPassword.password.$invalid}"
               name="password"
               type="password"
               placeholder="{{'site.NewPassword' | i18n}}" />
        <div ng-show="prf.frmResetPassword.password.$error.pattern" class="invalid-feedback">
            {{::'site.Error_Common_InvalidPassword' | i18n }}
        </div>
        <div ng-show="prf.frmResetPassword.password.$error.required" class="invalid-feedback">
            {{::'site.Required' | i18n }}
        </div>
    </div>
    <div class="form-group">
        <label for="confirmPassword">{{::'site.ConfirmPassword' | i18n}}</label>
        <input class="form-control"
               ng-model="prf.model.confirmPassword"
               must-match="prf.model.password"
               drbbly-confirmpassword
               ng-class="{'is-invalid': prf.frmResetPassword.confirmPassword.$touched && prf.frmResetPassword.confirmPassword.$invalid}"
               name="confirmPassword"
               type="password"
               placeholder="{{'site.ConfirmPassword' | i18n}}" />
        <div ng-show="prf.frmResetPassword.confirmPassword.$error.match" class="invalid-feedback">
            {{::'site.Error_Common_MustMatchPassword' | i18n }}
        </div>
    </div>
    <div class="form-group">
        <button type="submit"
                ng-click="prf.resetPassword()"
                ng-disabled="prf.frmResetPassword.$invalid || prf.isBusy"
                class="btn btn-primary btn-block">
            {{'auth.ResetPassword' | i18n}}
        </button>
    </div>
</form>
<div class="alert alert-success"
     ng-if="prf.isComplete"
     role="alert">
    <h4 class="alert-heading">{{::'auth.PasswordResetSuccessfulHeader' | i18n}}</h4>
    <p class="mb-0" ng-bind-html="'auth.PasswordResetSuccessfulDetails' | i18n"></p>
</div>