<wysiwyg textarea-id="{{dte._options.textAreaId}}"
         textarea-class="{{dte._options.textAreaClass}}"
         textarea-height="{{dte._options.textAreaHeight}}"
         textarea-name="{{dte._options.textAreaName}}"
         textarea-required="{{dte._options.required}}"
         ng-model="dte.value"
         enable-bootstrap-title="{{dte._options.showToolTips}}"
         placeholder="{{dte._options.placeholder}}"
         textarea-menu="dte._options.customMenu"
         disabled="{{dte._options.disabled}}"></wysiwyg>