@import '../../../../../custom/bootstrap/scss/_variables.scss';
@import '../../../../../lib/bootstrap/_breakpoints.scss';

drbbly-texteditor {
    .wysiwyg-menu {
        border: 1px solid #ccc;
        border-radius: 0.25rem 0.25rem 0 0;
        display: none;

        & > div {
            background-color: $white;

            button {
                color: $black;
            }
        }
    }

    .wysiwyg-textarea {
        /*border-top-left-radius: 0;
        border-top-right-radius: 0;*/
    }
}
