@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-gameviewercontainer{
    .teams{
        background-color: $orange;

        .vs{
            font-size: 1.5em;
        }

        .logo{
            height: 70px;
            width: 70px;
        }
    }
}