<div class="modal-header">
    <h3 class="modal-title" i18n="{{::'main.CourtRegistrationTitle'}}"></h3>
</div>
<div class="modal-body">
    <form name="aec.frmCourtDetails"
          ng-if="aec.tempCourt">
        <fieldset ng-disabled="aec.isBusy">
            <div class="form-group">
                <lable for="txtName">
                    {{::'main.CourtNamePrompt' | i18n}}
                    <input type="text"
                           name="txtName"
                           ng-model="aec.tempCourt.name"
                           class="form-control"
                           required
                           max="100" />
                </lable>
            </div>
            <div class="form-group">
                <lable>
                    {{::'app.LocationPickFromTheMap' | i18n}}
                    <drbbly-locationpicker on-location-selected="aec.locationSelected"
                                           initial-position="aec.initialPosition"></drbbly-locationpicker>
                    <input name="txtLatitude" hidden ng-model="aec.tempCourt.latitude" />
                    <input name="txtLongitude" hidden ng-model="aec.tempCourt.longiude" />
                </lable>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox"
                       name="txtPublic"
                       ng-model="aec.tempCourt.isFreeToPlay"
                       class="form-check-input" />
                <lable for="txtRatePerHour"
                       ng-click="aec.tempCourt.isFreeToPlay = !aec.tempCourt.isFreeToPlay">
                    {{::'app.FreeToPlay' | i18n}}
                </lable>
            </div>
            <div class="form-group"
                 ng-if="!aec.tempCourt.isFreeToPlay">
                <lable for="txtRatePerHour">
                    {{::'app.RatePerHour' | i18n}}
                    <input type="number"
                           name="txtRatePerHour"
                           ng-disabled="aec.isBusy"
                           ng-model="aec.tempCourt.ratePerHour"
                           required
                           class="form-control" />
                </lable>
            </div>
            <div class="form-check mb-3">
                <input type="checkbox"
                       name="txtPublic"
                       ng-model="aec.tempCourt.isManaged"
                       class="form-check-input" />
                <lable for="txtRatePerHour"
                       ng-click="aec.tempCourt.isManaged = !aec.tempCourt.isManaged">
                    {{::'app.ManageThisCourt' | i18n}}
                </lable>
            </div>
            <div class="form-row"
                 ng-if="aec.tempCourt.isManaged">
                <div class="form-group col-12">
                    <lable for="txtMobileNo">
                        {{::'app.CourtDetailsMobileNoLabel' | i18n}}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">+63</div>
                            </div>
                            <input type="text"
                                   name="txtMobileNo"
                                   ng-disabled="aec.isBusy"
                                   ng-model="aec.tempCourt.mobileNumber"
                                   ng-pattern="$root.constants.MOBILENO_VALIDATION_REGEX"
                                   placeholder="{{::'site.MobileNoPlaceholder' | i18n}}"
                                   required
                                   class="form-control" />
                        </div>
                    </lable>
                </div>
                <!-- To be implemented -->
                <!--<div class="form-group col-auto">
                    <label>
                        &nbsp;<br />
                        <button class="btn btn-secondary"
                                type="button">
                            {{::'site.Verify' | i18n}}
                        </button>
                    </label>
                </div>-->
            </div>
            <div class="form-group">
                <lable for="txtPhoto">
                    {{::'app.AdditionalInfo' | i18n}}
                    <drbbly-texteditor class="d-block mb-1"
                                       value="aec.tempCourt.additionalInfo"></drbbly-texteditor>
                    <input name="txtAdditionalInfo" type="text" hidden ng-model="aec.tempCourt.additionalInfo" />
                </lable>
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button i18n="{{::'site.Submit'}}"
            class="btn btn-primary"
            ng-disabled="aec.isBusy || aec.frmCourtDetails.$invalid || aec.frmCourtDetails.$prestine"
            type="button"
            ng-click="aec.submit()"></button>
    <button i18n="{{::'site.Cancel'}}"
            class="btn btn-warning"
            type="button"
            ng-click="aec.cancel()"></button>
</div>