<div class="modal-header">
    <h3 class="modal-title" i18n="{{::'main.CourtRegistrationTitle'}}"></h3>
</div>
<div class="modal-body">
    <form name="aec.frmCourtDetails"
          novalidate
          ng-if="aec.tempCourt">
        <fieldset ng-disabled="aec.isBusy">
            <div class="form-group">
                <lable for="txtName">
                    {{::'main.CourtNamePrompt' | i18n}}
                    <input type="text"
                           name="txtName"
                           ng-model="aec.tempCourt.name"
                           ng-class="{'is-invalid': (aec.frmCourtDetails.$submitted || aec.frmCourtDetails.txtName.$touched) &&
                                     aec.frmCourtDetails.txtName.$invalid}"
                           class="form-control"
                           required
                           max="100" />
                    <div ng-show="aec.frmCourtDetails.txtName.$error.required" class="invalid-feedback">
                        {{::'site.Required' | i18n }}
                    </div>
                </lable>
            </div>
            <div class="form-group">
                <lable>
                    {{::'app.LocationPickFromTheMap' | i18n}}
                    <drbbly-locationpicker on-location-selected="aec.locationSelected"
                                           initial-position="aec.initialPosition"></drbbly-locationpicker>
                    <input name="txtLatitude" required hidden ng-model="aec.tempCourt.latitude" />
                    <input name="txtLongitude" required hidden ng-model="aec.tempCourt.longitude" />
                    <div class="invalid-feedback"
                         ng-class="{'d-block': aec.frmCourtDetails.$submitted &&
                         (aec.frmCourtDetails.txtLatitude.$invalid || aec.frmCourtDetails.txtLongitude.$invalid)}">
                        {{::'site.Required' | i18n}}
                    </div>
                </lable>
            </div>
            <!--<div class="form-check mb-3">
                <input type="checkbox"
                       name="txtPublic"
                       ng-model="aec.tempCourt.isFreeToPlay"
                       class="form-check-input" />
                <lable for="txtRatePerHour"
                       ng-click="aec.tempCourt.isFreeToPlay = !aec.tempCourt.isFreeToPlay">
                    {{::'app.FreeToPlay' | i18n}}
                </lable>
            </div>-->
            <!--<div class="form-group"
                 ng-if="!aec.tempCourt.isFreeToPlay">
                <lable for="txtRatePerHour">
                    {{::'app.RatePerHour' | i18n}}
                    <input type="number"
                           name="txtRatePerHour"
                           ng-disabled="aec.isBusy"
                           ng-model="aec.tempCourt.ratePerHour"
                           required
                           class="form-control" />
                </lable>
            </div>
            <div class="form-check"
                 ng-class="{'mb-3': !aec.tempCourt.isManaged}">
                <input type="checkbox"
                       name="txtPublic"
                       ng-change="aec.isManagedChange()"
                       ng-model="aec.tempCourt.isManaged"
                       class="form-check-input" />
                <lable for="txtRatePerHour"
                       ng-click="aec.tempCourt.isManaged = !aec.tempCourt.isManaged">
                    {{::'app.ManageThisCourt' | i18n}}
                </lable>
            </div>
            <div class="form-row"
                 ng-if="aec.tempCourt.isManaged">
                <div class="form-group col-sm-9">
                    <lable for="txtMobileNo">
                        {{::'app.CourtDetailsMobileNoLabel' | i18n}}
                        <div ng-if="aec.contactIsVerified">
                            <h4 class="d-inline-block mr-3">
                                <small>
                                    <span class="mr-1">{{aec.fullMobileNumber}}</span>
                                    <span class="text-success"><i class="fa fa-check-circle"></i></span>
                                </small>
                            </h4>
                            <button ng-show="aec.contactIsVerified"
                                    class="btn btn-danger btn-sm"
                                    ng-click="aec.removeContact()"
                                    type="button">
                                {{::'site.Remove' | i18n}}
                            </button>
                        </div>
                        <div ng-if="!aec.contactIsVerified"
                             class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">{{$root.constants.countryCodes.ph}}</div>
                            </div>
                            <input type="text"
                                   name="txtMobileNo"
                                   ng-disabled="aec.isBusy"
                                   ng-model="aec.tenDigitNumber"
                                   ng-model-options="{ allowInvalid: true }"
                                   ng-class="{'is-invalid': aec.shouldHighligthMobileNo()}"
                                   class="mr-2 form-control"
                                   ng-pattern="$root.constants.MOBILENO_VALIDATION_REGEX"
                                   drbbly-customvalidator
                                   validators="aec.verifyPhone"
                                   placeholder="{{::'site.MobileNoPlaceholder' | i18n}}"
                                   required />
                            <button ng-show="aec.frmCourtDetails.txtMobileNo.$error.verifyPhone"
                                    class="btn btn-secondary"
                                    ng-click="aec.verify()"
                                    ng-disabled="aec.isBusy || !aec.frmCourtDetails.txtMobileNo.$error.verifyPhone"
                                    type="button">
                                {{::'site.Verify' | i18n}}
                            </button>
                            <div class="invalid-feedback" ng-show="aec.frmCourtDetails.$submitted && aec.frmCourtDetails.txtMobileNo.$error.verifyPhone">
                                {{::'site.Error_PhoneVerification_NumberNeedsVerification' | i18n}}
                            </div>
                            <div ng-show="aec.frmCourtDetails.txtMobileNo.$error.required" class="invalid-feedback">
                                {{::'site.Required' | i18n }}
                            </div>
                            <div ng-show="aec.frmCourtDetails.txtMobileNo.$error.pattern" class="invalid-feedback">
                                {{::'site.Error_Common_InvalidMobileNo_TenDigit' | i18n }}
                            </div>
                        </div>
                    </lable>
                </div>
            </div>-->
            <!--<div class="form-group">
                <lable for="txtPhoto">
                    {{::'app.AdditionalInfo' | i18n}}
                    <drbbly-texteditor class="d-block mb-1"
                                       value="aec.tempCourt.additionalInfo"></drbbly-texteditor>
                    <input name="txtAdditionalInfo" type="text" hidden ng-model="aec.tempCourt.additionalInfo" />
                </lable>
            </div>-->
        </fieldset>
    </form>
    <div ng-class="{'d-block': aec.frmCourtDetails.$invalid && aec.frmCourtDetails.$submitted}"
         class="invalid-feedback mb-0 mt-3">
        {{::'site.Error_Common_PleaseFixErrors' | i18n}}
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            ng-disabled="aec.isBusy"
            type="submit"
            ng-click="aec.submit()"
            ng-switch="aec.isBusy">
        <span ng-switch-default>{{::'site.Submit'| i18n}}</span>
        <span ng-switch-when="true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    </button>
    <button i18n="{{::'site.Cancel'}}"
            class="btn btn-warning"
            type="button"
            ng-click="aec.cancel()"></button>
</div>