<div class="container px-0 px-sm-3">
    <div drbbly-overlay="dad.overlay">
        <drbbly-teammemberslist members="dad.currentMembers"
                                team="dad.team"
                                list-title="'app.CurrentMembers' | i18n"
                                settings="dad.memberListSettings"
                                on-request-processed="dad.onRequestProcessed"
                                class="d-block mb-3">
        </drbbly-teammemberslist>
    </div>
    <div ng-if="dad.isManager">
        <div drbbly-overlay="dad.joinRequestsOverlay">
            <drbbly-teammemberslist members="dad.requestingMembers"
                                    team="dad.team"
                                    list-title="'app.MemberRequests' | i18n"
                                    settings="dad.memberListSettings"
                                    on-request-processed="dad.onRequestProcessed"
                                    class="d-block mb-3">
            </drbbly-teammemberslist>
        </div>
    </div>
</div>
