<div class="modal-body">
    <!-- Shot Details -->
    <div class="shot-details"
         ng-if="rsm.saveModel.type === $root.constants.enums.gameEventTypeEnum.ShotMade
         || rsm.saveModel.type === $root.constants.enums.gameEventTypeEnum.ShotMissed">
        <h5>Shot Details</h5>
        <form name="rsm.frmShot"
              class="flex-grow-1">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-4">
                        <label>Attempted By:</label>
                    </div>
                    <div class="col-8 d-flex">
                        <select class="form-control"
                                ng-model="rsm.saveModel.performedBy">
                            <option ng-repeat="player in rsm.performedByOptions"
                                    ng-value="player">
                                {{player.teamMembership.jerseyNo}} - {{player.teamMembership.name}}
                            </option>
                        </select>
                        <input type="text"
                               name="performedBy"
                               required
                               hidden
                               ng-model="rsm.saveModel.performedBy.teamMembership.account.id" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                    <div class="form-group">
                        <label class="m-0">Points:</label>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <input type="number"
                               required
                               min="1"
                               max="3"
                               class="points form-control"
                               ng-model="rsm.saveModel.points" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-4">
                </div>
                <div class="col-8">
                    <div class="form-group">
                        <div class="form-check-inline">
                            <label class="m-0">
                                <input type="radio"
                                       ng-value="false"
                                       ng-model="rsm.saveModel.isMiss"
                                       ng-change="rsm.onMadeMissChanged(rsm.saveModel.isMiss)"
                                       class="form-check-input"
                                       name="madeOrMiss">
                                Made
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="m-0">
                                <input type="radio"
                                       ng-value="true"
                                       ng-model="rsm.saveModel.isMiss"
                                       class="form-check-input"
                                       name="madeOrMiss">
                                Missed
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal-footer m-1">
    <button class="btn btn-danger"
            type="button"
            ng-click="rsm.revert()"
            ng-disabled="rsm.isBusy">
        <i class="fa fa-trash"></i>
    </button>
    <button class="btn btn-primary"
            ng-disabled="rsm.isBusy || ((rsm.saveModel.type === $root.constants.enums.gameEventTypeEnum.ShotMade
         || rsm.saveModel.type === $root.constants.enums.gameEventTypeEnum.ShotMissed) && (rsm.frmShot.$invalid || rsm.frmShot.$pristine))"
            type="submit"
            ng-click="rsm.handleSubmitClick()">
        <i class="fa fa-check"></i>
    </button>
    <button class="btn btn-secondary"
            type="button"
            ng-click="rsm.cancel()"
            ng-disabled="rsm.isBusy">
        <i class="fa fa-times"></i>
    </button>
</div>
