<div class="bg-dark container-fluid mobile-toolbar mobile-only">
    <div class="row">
        <div class="col">
            <button class="btn ml-n2" ng-click="mtb.toggleSideNavigator()"><i class="fa fa-bars"></i></button>
            <span class="py-2 d-inline-block">{{$root.$title}}</span>

            <button ng-repeat="item in mtb.items"
                    class="btn ml-n2 float-right"
                    ng-class="item.buttonClass"
                    ng-click="item.action()">
                <i ng-class="item.iconClass"></i>
            </button>
        </div>
    </div>
</div>