<div class="bg-dark container-fluid mobile-toolbar mobile-only">
    <div class="row">
        <div class="col">
            <button class="btn ml-n2 float-left" ng-click="mtb.toggleSideNavigator()">
                <h4 class="m-0 d-inline"><i class="fa fa-bars"></i></h4>
            </button>
            <h4 class="m-0 d-inline float-left">
                <span class="py-2 d-inline-block">{{$root.$title}}</span>
            </h4>

            <button ng-repeat="item in mtb.items"
                    class="btn ml-n2 float-right"
                    ng-class="item.buttonClass"
                    ng-click="item.action()">
                <i ng-class="item.iconClass"></i>
            </button>
        </div>
    </div>
</div>