<form name="suf.frmSignUp">
    <div class="form-group">
        <input class="form-control" required ng-model="suf.model.userName" name="email" type="text" placeholder="{{'site.Email' | i18n}}" />
    </div>
    <div class="form-group">
        <input class="form-control" required ng-model="suf.model.password" name="password" type="password" placeholder="{{'site.Password' | i18n}}" />
    </div>
    <div class="form-group">
        <input class="form-control" required ng-model="suf.model.confirmPassword" name="confirmPassword" type="password" placeholder="{{'site.ConfirmPassword' | i18n}}" />
    </div>
    <div class="form-group">
        <button type="submit"
                ng-click="suf.signUp()"
                ng-disabled="suf.frmSignUp.$invalid || suf.isBusy"
                class="btn btn-primary btn-block">
            {{'auth.SignUp' | i18n}}
        </button>
    </div>
    <p class="text-center">{{'auth.AlreadyHaveAnAccount' | i18n}}<a class="btn btn-link" ui-sref="login">{{'auth.LogIn' | i18n}}</a></p>
    <p class="text-center">{{ 'site.Or' | i18n }}</p>
    <drbbly-socialauth></drbbly-socialauth>
</form>