<div class="row">
    <div class="col">
        <span class="text-secondary">{{'app.ShowingCurrentOfTotal' | i18n : {current: drl.currentSize, total: drl.reviews.length} }}</span>
        <div ng-repeat="review in drl.displayedReviews track by review.id"
             class="p-3 black-transparent-bg">
            <div class="d-flex justify-content-between">
            </div>
            <div class="d-flex justify-content-between">
                <drbbly-userstub user="review.reviewedBy"
                                 class="text-white"></drbbly-userstub>
                <drbbly-date class="text-muted small" date="review.dateAdded"
                             format="'dd-MMM-yyyy'"></drbbly-date>
            </div>
            <drbbly-rating class="d-block" value="review.rating"></drbbly-rating>
            <span class="text-light"
                  ng-bind-html="review.message"></span>
        </div>
        <button type="button"
                class="btn btn-secondary w-100"
                ng-click="drl.loadMore()"
                ng-show="drl.currentSize < (drl.reviews || []).length">
            {{::'app.LoadMore' | i18n}}
        </button>
    </div>
</div>