<div class="modal-header">
    <h3 class="modal-title">Create Tournament</h3>
</div>
<div class="modal-body">
    <form name="atm.frmTournamentDetails"
          novalidate
          ng-if="atm.saveModel">
        <fieldset ng-disabled="atm.isBusy">
            <div class="form-group pb-3">
                <label for="txtName">{{::'app.TournamentNamePrompt' | i18n}}</label>
                <input type="text"
                       name="txtName"
                       maxlength="100"
                       ng-model="atm.saveModel.name"
                       class="form-control"
                       ng-class="{'is-invalid': atm.frmTournamentDetails.txtName.$touched && atm.frmTournamentDetails.txtName.$invalid}"
                       minlength="5" />
                <div ng-show="atm.frmTournamentDetails.txtName.$error.minlength" class="invalid-feedback">
                    {{::'site.Error_Common_Minlength' | i18n:{length: 5} }}
                </div>
            </div>
            <div class="form-group">
                <label for="typCourt">Default Court (optional)</label>
                <i class="fa fa-info-circle"
                   uib-tooltip="This will be used as the default court when adding games to the tournament"></i>
                <drbbly-typeahead selected-items="atm.selectedCourts"
                                  config="atm.typeAheadConfig"
                                  name="typCourt"
                                  ng-model="atm.saveModel.defaultCourtId"
                                  class="form-control" />
            </div>
        </fieldset>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            i18n="site.Submit"
            ng-disabled="atm.isBusy || atm.frmTournamentDetails.$invalid || (atm.model.isEdit && atm.frmTournamentDetails.$pristine)"
            type="submit"
            ng-click="atm.submit()"></button>
    <button i18n="site.Cancel"
            class="btn btn-secondary"
            type="button"
            ng-click="atm.cancel()"
            ng-disabled="atm.isBusy"></button>
</div>
