<div class="modal-header">
    <h3 class="modal-title" i18n="{{::'app.Title'}}"></h3>
</div>
<div class="modal-body">
    <form name="cpm.formChangePassword">
        <div class="form-group">
            <label for="password">{{::'auth.CurrentPassword' | i18n}}</label>
            <input class="form-control"
                   required
                   ng-model="cpm.saveModel.currentPassword"
                   ng-class="{'is-invalid': cpm.formChangePassword.currentPassword.$touched && cpm.formChangePassword.currentPassword.$invalid}"
                   name="currentPassword"
                   type="password"
                   placeholder="{{'auth.CurrentPassword' | i18n}}" />
            <div ng-show="cpm.formChangePassword.currentPassword.$error.required" class="invalid-feedback">
                {{::'site.Required' | i18n }}
            </div>
        </div>
        <div class="form-group">
            <label for="password">{{::'site.NewPassword' | i18n}}</label>
            <input class="form-control"
                   required
                   ng-model="cpm.saveModel.newPassword"
                   ng-pattern="$root.constants.PASSWORD_VALIDATION_REGEX"
                   ng-class="{'is-invalid': cpm.formChangePassword.newPassword.$touched && cpm.formChangePassword.newPassword.$invalid}"
                   name="newPassword"
                   type="password"
                   placeholder="{{'site.NewPassword' | i18n}}" />
            <div ng-show="cpm.formChangePassword.newPassword.$error.pattern" class="invalid-feedback">
                {{::'site.Error_Common_InvalidPassword' | i18n }}
            </div>
            <div ng-show="cpm.formChangePassword.newPassword.$error.required" class="invalid-feedback">
                {{::'site.Required' | i18n }}
            </div>
        </div>
        <div class="form-group">
            <label for="confirmPassword">{{::'site.ConfirmNewPassword' | i18n}}</label>
            <input class="form-control"
                   ng-model="cpm.saveModel.confirmPassword"
                   must-match="cpm.saveModel.newPassword"
                   drbbly-confirmpassword
                   ng-class="{'is-invalid': cpm.formChangePassword.confirmPassword.$touched && cpm.formChangePassword.confirmPassword.$invalid}"
                   name="confirmPassword"
                   type="password"
                   placeholder="{{'site.ConfirmPassword' | i18n}}" />
            <div ng-show="cpm.formChangePassword.confirmPassword.$error.match" class="invalid-feedback">
                {{::'site.Error_Common_MustMatchPassword' | i18n }}
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button i18n="{{::'site.Submit'}}"
            class="btn btn-primary"
            ng-disabled="cpm.isBusy || cpm.formChangePassword.$invalid || cpm.formChangePassword.$prestine"
            type="button"
            ng-click="cpm.submit()"></button>
    <button i18n="{{::'site.Cancel'}}"
            class="btn btn-warning"
            type="button"
            ng-click="cpm.cancel()"></button>
</div>