@import '../../../../../custom/bootstrap/scss/_variables.scss';

drbbly-globalsearchmodal {
    .result-item {
        display: flex;
        width: 100%;

        .result-icon {
            border-radius: 50%;
            width: 3em;
            height: 3em;
            margin-right: 1em;
        }

        .result-text {
            flex-grow: 1;
            text-align: left;
        }
    }
}
