<div class="app-header mb-3">
    <div class="container">
        <div class="row">
            <div class="non-mobile col-12">
                <drbbly-appnavigator nav-items="avc.app.toolbar._navItems"></drbbly-appnavigator>
            </div>
        </div>
    </div>
</div>

<div class="container"
     ng-if="avc.account && avc.account.status !== $root.constants.enums.accountStatus.Active">
    <div class="card">
        <div class="card-body text-center">
            {{::'app.ContentNotCurrentlyAvailable' | i18n}}
        </div>
    </div>
</div>

<ui-view account="avc.account"
         ng-if="avc.account && avc.account.status === $root.constants.enums.accountStatus.Active"
         on-update="avc.onAccountUpdate"></ui-view>
