@import '../../../../custom/bootstrap/scss/_variables.scss';

drbbly-video {
    display: inline-block;
    position: relative;
    min-width: 160px;
    margin-bottom: 1em;

    & > div {
        width: 100%;
        height: 100%;

        &.video {
            position: relative;
            height: 100%;
            min-height: 120px;
            max-height: 100%;
            border: 1px solid $gray-900;
            color: $gray-100;
            background: #000;

            .video-wrapper {
                position: absolute;
                width: 100%;
                height: 100%;
                display: flex;

                img.thumbnail {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                video-js, video {
                    padding: 0 !important;
                    height: 100% !important;
                    width: 100% !important;
                }

                .loader, .play-button {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }
            }

            .drbbly-video-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                cursor: pointer;

                .duration {
                    background: rgba(0,0,0, 0.8);
                    padding: 3px;
                    position: absolute;
                    bottom: 2px;
                    right: 2px;
                    border-radius: 5px;
                    letter-spacing: 1px;
                    line-height: 1em;
                }
            }

            & > .controls {
                position: absolute;
                top: 0;
                right: 0;

                [data-toggle="dropdown"] {
                    background-color: rgba(0,0,0, 0.8);
                    width: 20px;
                    height: 20px;
                    padding: 0;
                    line-height: 1;
                    border-radius: 2px;
                }
            }
        }

        &.details {

            .title {
                max-height: 2.5em;
                line-height: 1.25em;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: initial;
                -webkit-line-clamp: 2;
                display: -webkit-box;
                -webkit-box-orient: vertical;
            }
        }
    }
}
