<ng-image-gallery images="gmc.model.photos"
                  methods="gmc.model.methods"
                  thumbnails="false"
                  thumb-size="100"
                  inline="false"
                  sortable="false"
                  hide-captions="true"
                  cover="false"
                  bubbles="true"
                  bubble-size="30"
                  img-bubbles="true"
                  bg-close="true"
                  piracy="true"
                  img-anim="fadeup"
                  on-delete="gmc.model.onDelete(img, cb)"
                  on-close="gmc.cancel()"></ng-image-gallery>