<div ng-if="dam.model.titleKey" class="modal-header">
    <h3 class="modal-title">{{dam.model.titleKey | i18n}}</h3>
</div>
<div class="text-center modal-body">
    <h5 ng-if="dam.model.msg1Key">{{dam.model.msg1Key | i18n}}</h5>
    <p ng-if="dam.model.msg2Key">{{dam.model.msg2Key | i18n}}</p>
</div>
<div class="modal-footer">
    <button type="button"
            ng-repeat="btn in dam.model.options.buttons"
            ng-class="btn.class" 
            ng-click="btn.action()">{{::btn.textKey | i18n}}</button>
</div>