<div class="container">
    <div class="row pt-3">
        <div class="col-12 col-md-9">
            <div drbbly-overlay="dpc.overlay">
                <drbbly-post on-delete="dpc.onPostDelete"
                             ng-if="dpc.post"
                             post="dpc.post"></drbbly-post>
                    <div class="p-3 text-center"
                             ng-if="!dpc.post">
                        The post that you are looking for could not be found. It may have been deleted.
                    </div>
            </div>
        </div>
            <div class="col-12 col-md-3">
                <div class="sticky-top">
                    <!-- Ad -->
                    <span class="d-block text-center">Advertisement</span>
                    <drbbly-ad type="'square'"></drbbly-ad>
                    <drbbly-ad type="'square'"></drbbly-ad>
                </div>
            </div>
        </div>
</div>