<div class="modal-header d-flex align-items-center justify-content-between">
    <h3 class="modal-title">{{adm.steps[adm.currentStepIndex]}}</h3>
    <button class="btn btn-outline-secondary"
            ng-if="adm.model.canClose !== false"
            ng-click="adm.cancel()">
        <i class="fa fa-times"></i>
    </button>
</div>
<div class="modal-body">
    <div drbbly-overlay="adm.overlay">
        <form name="adm.frmAccountDetails"
              novalidate>
            <fieldset ng-disabled="adm.isBusy">
                <div ng-show="adm.steps[adm.currentStepIndex] ===  'Primary Photo'"
                     class="d-flex flex-column align-items-center"
                     ng-class="{'py-5':!adm.account.profilePhoto}">
                    <img ng-if="adm.account.profilePhoto"
                         ng-src="{{adm.account.profilePhoto.url}}"
                         class="profile-photo mb-1"
                         ng-click="adm.onProfilePhotoClick()" />
                    <p ng-if="!adm.account.profilePhoto">Set a primary photo so other users will recognize you.</p>
                    <button id="btn-replace-photo"
                            class="btn btn-secondary"
                            ng-class="{'btn-block':adm.account.profilePhoto}"
                            ngf-select="adm.onPrimaryPhotoSelect($file)"
                            ng-model="adm.account.profilePhoto"
                            ngf-pattern="'image/*'"
                            ngf-accept="'image/*'"
                            ngf-max-size="20MB">
                        {{adm.account.profilePhoto? 'Change': 'Select Photo'}}
                    </button>
                </div>
                <div ng-show="adm.steps[adm.currentStepIndex] ===  'Player Profile'">
                    <div class="form-group">
                        <label for="txtName">{{::'app.Height' | i18n}}:</label>
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="number"
                                       name="txtFeet"
                                       ng-model="adm.height.feet"
                                       class="form-control"
                                       max="9"
                                       min="0" />
                            </div>
                            <div class="col-auto">{{::'app.Feet_Abbrev' | i18n}}</div>
                            <div class="col-auto">
                                <input type="number"
                                       name="txtFeet"
                                       ng-model="adm.height.inches"
                                       class="form-control"
                                       max="11"
                                       min="0" />
                            </div>
                            <div class="col-auto">{{::'app.Inches_Abbrev' | i18n}}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Playing Position</label><br />
                        <select class="form-control"
                                ng-model="adm.account.position">
                            <option ng-repeat="option in adm.ddlPositionOptions"
                                    value="{{option.value}}"
                                    ng-selected="adm.account.position === option.value">
                                {{option.text}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typHomeCourt">{{::'app.HomeCourt' | i18n}}:</label>
                        <drbbly-typeahead type="text"
                                          name="typHomeCourt"
                                          ng-model="adm.account.homeCourtId"
                                          required
                                          selected-items="adm.selectedHomeCourts"
                                          config="adm.typeAheadConfig"
                                          class="form-control" />
                    </div>
                </div>
                <div ng-show="adm.steps[adm.currentStepIndex] ===  'Personal Information'">
                    <div class="form-group">
                        <div class="form-row align-items-center">
                            <div class="col-md-6">
                                <label for="txtName">{{::'site.FirstName' | i18n}}:</label>
                                <input type="text"
                                       name="txtFirstName"
                                       required
                                       ng-model="adm.account.firstName"
                                       class="form-control"
                                       maxlength="30" />
                            </div>
                            <div class="col-md-6">
                                <label for="txtName">{{::'site.LastName' | i18n}}:</label>
                                <input type="text"
                                       name="txtLastName"
                                       required
                                       ng-model="adm.account.lastName"
                                       class="form-control"
                                       maxlength="30" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>{{::'app.Gender' | i18n}}:</label><br />
                        <div class="btn-group">
                            <label class="btn btn-secondary" ng-model="adm.account.gender" uib-btn-radio="0">{{::'app.Male' | i18n}}</label>
                            <label class="btn btn-secondary" ng-model="adm.account.gender" uib-btn-radio="1">{{::'app.Female' | i18n}}</label>
                            <label class="btn btn-secondary" ng-model="adm.account.gender" uib-btn-radio="2">{{::'app.DoesntMatter' | i18n}}</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-row">
                            <div class="col-auto">
                                <label for="txtBirthDate">{{::'app.BirthDate' | i18n}}:</label><br />
                                <input class="form-control"
                                       type="date"
                                       ng-model="adm.account.birthDate" />
                            </div>
                            <div class="col-auto">
                                <label for="txtAge">{{::'app.Age' | i18n}}:</label><br />
                                <input class="form-control"
                                       type="number"
                                       max="200"
                                       min="0"
                                       ng-model="adm.account.age" />
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="adm.steps[adm.currentStepIndex] ===  'Location'">
                    <div class="form-group">
                        <span>Setting your location will help you get found by talent scouts looking for players in your area. It may also be used to suggest relevant contents such as events near you. </span>
                        <div>
                            <drbbly-locationpicker on-location-selected="adm.locationSelected"
                                                   on-map-ready="adm.onMapReady"
                                                   selected-location="adm.location"
                                                   pick-on-search="true"></drbbly-locationpicker>
                            <small>
                                <span class="text-warning">WARNING:</span>
                                <span>
                                    This will be visible to other users. For your privacy,
                                    we recommend selecting a location within your city but not your exact location.
                                </span>
                            </small>
                        </div>
                        <input name="txtLatitude" required hidden ng-model="adm.location.latitude" />
                        <input name="txtLongitude" required hidden ng-model="adm.location.longitude" />
                    </div>
                    <div class="form-group">
                        <label class="text-secondary mr-2">Hide My Location</label>
                        <div class="d-inline-block custom-control custom-switch">
                            <input type="checkbox"
                                   id="swHideLocation"
                                   ng-model="adm.account.hideLocation"
                                   class="custom-control-input">
                            <label class="custom-control-label" for="swHideLocation"></label>
                        </div>
                        <div ng-show="adm.account.hideLocation">
                            <small><i class="fa fa-info-circle text-info"></i> Your profile will not appear in location searches.</small>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label>City:</label><br />
                        <div ng-show="adm.editingCity" class="d-flex align-items-center">
                            <drbbly-mapsearchcontrol options="adm._searchOptions"
                                                     class="flex-grow-1"
                                                     keyword="{{adm.citySearchKeyword}}"
                                                     on-place-changed="adm._placeChanged" />
                            <a tabindex="0"
                               class="px-1"
                               ng-click="adm.editingCity = false"><i class="fa fa-times"></i></a>
                        </div>
                        <div ng-show="!adm.editingCity">
                            <span ng-click="adm.editCity()"
                                  ng-show="adm.account.city">{{adm.account.city.name}}</span>
                            <span ng-show="!adm.account.city"
                                  class="text-secondary">(Not Set)</span>
                            <a tabindex="0"
                               ng-click="adm.editCity()"><i class="fa fa-pencil"></i></a>
                            <a tabindex="0"
                               ng-click="adm.removeCity()"
                               ng-show="adm.account.city"><i class="text-danger fa fa-times"></i></a>
                        </div>
                    </div>-->
                </div>
                <div ng-show="adm.steps[adm.currentStepIndex] ===  'Links'">
                    <div class="form-group">
                        <label for="txtFbLink">Facebook Link</label>
                        <input type="text"
                               name="txtFbLink"
                               ng-model="adm.account.fbLink"
                               placeholder="e.g. 'https://www.facebook.com/freehoops'"
                               class="form-control"
                               ng-class="{'is-invalid': adm.invalidLink}"
                               maxlength="100" />
                        <div class="invalid-feedback">
                            Invalid link
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="txtFbLink">Instagram Link</label>
                        <input type="text"
                               name="txtFbLink"
                               ng-model="adm.account.igLink"
                               placeholder="e.g. 'https://www.instagram.com/freehoops'"
                               class="form-control"
                               ng-class="{'is-invalid': adm.invalidIgLink}"
                               maxlength="100" />
                        <div class="invalid-feedback">
                            Invalid link
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div ng-class="{'d-block': adm.frmAccountDetails.$invalid && adm.frmAccountDetails.$submitted}"
             class="invalid-feedback mb-0 mt-3">
            {{::'site.Error_Common_PleaseFixErrors' | i18n}}
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary mr-1"
            ng-show="adm.canGoBack()"
            ng-disabled="adm.isBusy"
            type="submit"
            ng-click="adm.back()">
        << Back
    </button>
    <button class="btn btn-primary"
            ng-show="adm.hasNextPage()"
            ng-disabled="adm.isBusy"
            type="submit"
            ng-click="adm.next()">
        Next >>
    </button>
    <button class="btn btn-primary"
            ng-show="!adm.hasNextPage()"
            ng-disabled="adm.isBusy"
            type="submit"
            ng-click="adm.submit()"
            ng-switch="adm.isBusy">
        <span ng-switch-default>{{::'site.Submit'| i18n}}</span>
        <span ng-switch-when="true"><i class="fa fa-circle-o-notch fa-spin"></i></span>
    </button>
</div>
