.drbbly-court-list-item {
    display: inline-block;
}

    .drbbly-court-list-item .photo-container {
        position: relative;
        height: 100px;
        width: 150px;
    }

    .drbbly-court-list-item .primary-photo {
        position: absolute;
    }

    .drbbly-court-list-item .rate {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #fff;
        background-color: rgba(89, 125, 96, 0.9);
        line-height: 1rem;
        padding: 0.125rem;
    }

    .drbbly-court-list-item .details {
    }

        .drbbly-court-list-item .details .name {
            color: white;
            white-space: initial;
        }
