<div class="video">
    <div class="video-wrapper">
        <video preload="metadata"></video>
    </div>
    <div class="drbbly-video-overlay"
         ng-click="vli.clicked()">
        <span class="duration"
              ng-hide="vli.options.hideDetails">{{vli.duration}}</span>
    </div>
    <div class="controls p-1">
        <div class="dropdown"
             ng-if="vli.options.menuItems.length">
            <button type="button"
                    class="btn"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button ng-repeat="item in vli.options.menuItems"
                        class="dropdown-item"
                        ng-click="item.action(vli.video, $event)"
                        ng-hide="item.isHidden && item.isHidden(vli.video)"
                        type="button">
                    {{item.text}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="details p-2 bg-black"
     ng-hide="vli.options.hideDetails">
    <span class="title text-white font-weight-semibold">
        {{vli.video.title}}
    </span>
    <small>
        <drbbly-date date="vli.video.dateAdded"
                     as-from-now="true"
                     class="text-muted"></drbbly-date>
    </small>
</div>