<div class="video">
    <div class="video-wrapper">
        <video preload="metadata"></video>
    </div>
    <div class="drbbly-video-overlay"
         ng-click="vli.clicked()">
        <span class="duration"
              ng-hide="vli.options.hideDetails">{{vli.duration}}</span>
    </div>
    <div class="controls">
        <div class="dropdown"
             ng-if="vli.options.menuItems.length">
            <button type="button"
                    class="btn"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                <i class="fa fa-ellipsis-h"></i>
            </button>
            <div class="dropdown-menu">
                <button ng-repeat="item in vli.options.menuItems"
                        class="dropdown-item"
                        ng-click="item.action(vli.video, $event)"
                        ng-show="item.isVisible(vli.video)"
                        type="button">
                    {{item.textKey | i18n}}
                </button>
            </div>
        </div>
    </div>
</div>
<div class="details bg-white p-2"
     ng-hide="vli.options.hideDetails">
    <h4 class="title"><small>{{vli.video.title}}</small></h4>
    <drbbly-date date="vli.video.dateAdded"
                 as-from-now="true"
                 class="text-muted"></drbbly-date>
</div>