<div class="app-container">
    <div drbbly-overlay="lvc.overlay">
        <div class="container">
            <div class="row app-header mb-3">
                <div class="container">
                    <div class="bg-dark p-1">
                        <h5 class="text-white">{{lvc.tournament.name}}</h5>
                    </div>
                    <div class="row">
                        <div class="non-mobile col-12">
                            <drbbly-appnavigator nav-items="lvc.app.toolbar._navItems"></drbbly-appnavigator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="app-body">
            <div ng-if="lvc.tournament"
                 class="container">
                <ui-view tournament="lvc.tournament"
                         on-update="lvc.onTournamentUpdate"></ui-view>
            </div>
        </div>
    </div>
</div>
