<div class="app-container">
    <div drbbly-overlay="lvc.overlay">
        <div class="container">
            <div class="row app-header">
                <div class="container">
                    <div class="bg-dark p-3">
                        <h5 class="text-white">{{lvc.tournament.name}}</h5>
                    </div>
                </div>
            </div>            
        </div>
        <div id="app-navigation-container" class="container non-mobile sticky-top">
            <drbbly-appnavigator id="app-navigator"
                                 nav-items="lvc.app.toolbar._navItems"></drbbly-appnavigator>
        </div>
        <div class="app-body">
            <div ng-if="lvc.tournament"
                 class="container">
                <ui-view tournament="lvc.tournament"
                         on-update="lvc.onTournamentUpdate"></ui-view>
            </div>
        </div>
    </div>
</div>
