<div class="border border-secondary">
    <div class="bg-light font-weight-bold  text-center">{{psc.player.name}}</div>
    <table class="table table-sm table-light w-100 mb-0">
        <thead>
            <tr>
                <th>Pts</th>
                <th>F</th>
                <th>Reb</th>
                <th>Ast</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{psc.player.points}}</td>
                <td>{{psc.player.fouls}}</td>
                <td>{{psc.player.rebounds}}</td>
                <td>{{psc.player.assists}}</td>
            </tr>
        </tbody>
    </table>
</div>