drbbly-courtlistitem {
    display: inline-block;
    vertical-align: top;
}

    drbbly-courtlistitem .photo-container {
        position: relative;
        height: 100px;
    }

    drbbly-courtlistitem .primary-photo {
        position: absolute;
    }

    drbbly-courtlistitem .rate {
        position: absolute;
        right: 0;
        bottom: 0;
        color: #fff;
        background-color: rgba(89, 125, 96, 0.9);
        line-height: 1rem;
        padding: 0.125rem;
    }

    drbbly-courtlistitem .details {
    }

        drbbly-courtlistitem .details .name {
            color: #000;
            white-space: initial;
        }
