<div class="mb-3" ng-click="cli.clicked($event)">
    <div class="photo-container">
        <drbbly-image class="primary-photo"
                      image-url="{{cli.court.primaryPhoto.url || './images/default_images/court_default_1.png'}}"></drbbly-image>
        <span class="rate">{{ (cli.court.ratePerHour || 0) | currency:'P':0 }}<small>{{::'site.SlashHour' | i18n}}</small></span>
    </div>
    <div class="details">
        <span class="name d-block line-height-1">{{cli.court.name}}</span>
        <drbbly-rating class="d-block" value="cli.court.rating"></drbbly-rating>
        <span ng-if="cli.court.distance"
              class="text-muted">{{cli.court.distance | drbblyDistance}}</span>
    </div>
</div>