@import '../../../../custom/bootstrap/scss/_variables.scss';
@import '../../../../lib/bootstrap/_breakpoints.scss';

drbbly-eventscontainer {
    .event-listitem {
        .logo-container {
            img {
                width: 100%;
                height: 10em;
                object-fit: cover;
            }
        }
        .details{
            height: 10em;
        }
    }
}
