<div class="container">
    <section drbbly-overlay="dhc.topPlayersOverlay" class="pt-3 top-players">
        <h4 class="drbbly-header">Top Players</h4>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.carouselSettings.dots}">
            <slick settings="dhc.carouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="player in dhc.topPlayers"
                     class="px-3">
                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.tournamentsOverlay" class="pt-3 tournaments">
        <h4 class="drbbly-header">New Tournaments</h4>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.tournamentsCarouselSettings.dots}">
            <slick settings="dhc.tournamentsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="tournament in dhc.tournaments"
                     class="px-3">
                    <drbbly-tournamentlistitem tournament="tournament"></drbbly-tournamentlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.teamsOverlay" class="pt-3 top-teams">
        <h4 class="drbbly-header">Top Teams</h4>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.teamsCarouselSettings.dots}">
            <slick settings="dhc.teamsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="team in dhc.teams"
                     class="px-3">
                    <drbbly-teamlistitem team="team"></drbbly-teamlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.courtsListOverlay" class="pt-3 featured-courts">
        <h4 class="drbbly-header">
            {{::'app.FeaturedCourts' | i18n}}
            <a ui-sref="main.courts"
               class="float-right"><small>See all</small></a>
        </h4>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.courtsCarouselSettings.dots}">
            <slick settings="dhc.courtsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="court in dhc.courts"
                     class="px-3">
                    <drbbly-courtlistitem class="w-100"
                                          court="court"
                                          on-click="dhc.featuredCourtClick"></drbbly-courtlistitem>
                </div>
            </slick>
        </div>
    </section>
</div>