<div class="container" hidden>
    <section class="features-carousel mb-5 mx-n3">
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.featuresCarouselSettings.dots}">
            <slick settings="dhc.featuresCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="feature in dhc.features | filter : {isHidden: '!true'}"
                     class="feature px-3">
                    <div class="background"
                         ng-style="{'background-image': 'url(' + feature.backgroundUrl + ')',
                                    'background-position': feature.backgroundPosition}"></div>
                    <div class="content p-3 pt-5">
                        <div class="feature-name">
                            <h3>{{feature.name}}</h3>
                            <div class="feature-description mb-2">
                                {{feature.description}}
                            </div>
                            <button class="btn btn-primary action"
                                    ng-if="feature.action"
                                    ng-click="feature.action()">
                                {{feature.actionLabel}}
                            </button>
                        </div>
                    </div>
                </div>
            </slick>
        </div>
    </section>
</div>
<div class="container-fluid">
    <section class="mt-3">
        <drbbly-map options="dhc.mapOptions"
                    on-map-clicked="dhc.onMapClicked"
                    on-map-ready="dhc.onMapReady"></drbbly-map>
        <div ng-if="!$root.auth.isAuthenticated" class="text-center p-2">
            <h5><i class="fa fa-info-circle text-info"></i>&nbsp;Click on the map to add yourself</h5>
        </div>
    </section>
</div>
<div class="container">
    <section drbbly-overlay="dhc.featuredPlayersOverlay" class="pt-3 featured-players mb-5">
        <div class="section-header">
            <h5 class="drbbly-header">Featured Players</h5>
            <a ui-sref="main.players"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.featuredPlayerCarouselSettings.dots}">
            <slick settings="dhc.featuredPlayerCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="player in dhc.featuredPlayers track by player.accountId"
                     class="px-1">
                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.newPlayersOverlay" class="pt-3 new-players mb-5">
        <div class="section-header">
            <h5 class="drbbly-header">New Players</h5>
            <a ui-sref="main.players"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.newPlayerCarouselSettings.dots}">
            <slick settings="dhc.newPlayerCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="player in dhc.newPlayers"
                     class="px-1">
                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.topPlayersOverlay" class="pt-3 top-players mb-5" ng-if="dhc.showTopPlayers">
        <div class="section-header">
            <h5 class="drbbly-header">Top Players</h5>
            <a ui-sref="main.players"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.carouselSettings.dots}">
            <slick settings="dhc.carouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="player in dhc.topPlayers"
                     class="px-1">
                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.tournamentsOverlay" class="pt-3 tournaments mb-5">
        <div class="section-header">
            <h5 class="drbbly-header">New Tournaments</h5>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.tournamentsCarouselSettings.dots}">
            <slick settings="dhc.tournamentsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="tournament in dhc.tournaments"
                     class="px-1">
                    <drbbly-tournamentlistitem tournament="tournament"></drbbly-tournamentlistitem>
                </div>
            </slick>
        </div>
    </section>
    <div class="mb-5">
        <!-- Ad -->
        <span class="d-block text-center">Advertisement</span>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-none d-lg-block">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
            <div class="col-12 col-sm-6 col-lg-4 col-xl-3 d-none d-xl-block">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
    <section drbbly-overlay="dhc.teamsOverlay" class="pt-3 top-teams mb-5">
        <div class="section-header">
            <h5 class="drbbly-header">Top Teams</h5>
            <a ui-sref="main.teams"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.teamsCarouselSettings.dots}">
            <slick settings="dhc.teamsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="team in dhc.teams"
                     class="px-1">
                    <drbbly-teamlistitem team="team"></drbbly-teamlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.courtsListOverlay" class="pt-3 featured-courts mb-5">
        <div class="section-header d-flex">
            <h5 class="drbbly-header">
                {{::'app.FeaturedCourts' | i18n}}
            </h5>
            <a ui-sref="main.courts"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.courtsCarouselSettings.dots}">
            <slick settings="dhc.courtsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="court in dhc.courts"
                     class="px-1">
                    <drbbly-courtlistitem class="w-100"
                                          court="court"
                                          on-click="dhc.featuredCourtClick"></drbbly-courtlistitem>
                </div>
            </slick>
        </div>
    </section>
    <div>
        <!-- Ad -->
        <span class="d-block text-center">Advertisement</span>
        <drbbly-ad type="'horizontal'"></drbbly-ad>
    </div>
    <div class="row">
        <div class="col-12 col-md-9">
            <div class="row">
                <div class="col-12">
                    <drbbly-posts options="dhc.postsOptions"></drbbly-posts>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="sticky-top">
                <!-- Ad -->
                <span class="d-block text-center">Advertisement</span>
                <drbbly-ad type="'square'"></drbbly-ad>
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
</div>