<div class="container">
    <section drbbly-overlay="dhc.topPlayersOverlay" class="pt-3 top-players">
        <div class="section-header">
            <h5 class="drbbly-header">Top Players</h5>
            <a ui-sref="main.players"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.carouselSettings.dots}">
            <slick settings="dhc.carouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="player in dhc.topPlayers"
                     class="px-3">
                    <drbbly-playerlistitem player="player"></drbbly-playerlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.tournamentsOverlay" class="pt-3 tournaments">
        <div class="section-header">
            <h5 class="drbbly-header">New Tournaments</h5>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.tournamentsCarouselSettings.dots}">
            <slick settings="dhc.tournamentsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="tournament in dhc.tournaments"
                     class="px-3">
                    <drbbly-tournamentlistitem tournament="tournament"></drbbly-tournamentlistitem>
                </div>
            </slick>
        </div>
    </section>
    <div>
        <!-- Ad -->
        <span class="d-block text-center">Advertisement</span>
        <div class="row">
            <div class="col-12 col-md-6">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
            <div class="col-12 col-md-6">
                <drbbly-ad type="'square'"></drbbly-ad>
            </div>
        </div>
    </div>
    <section drbbly-overlay="dhc.teamsOverlay" class="pt-3 top-teams">
        <div class="section-header">
            <h5 class="drbbly-header">Top Teams</h5>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.teamsCarouselSettings.dots}">
            <slick settings="dhc.teamsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="team in dhc.teams"
                     class="px-3">
                    <drbbly-teamlistitem team="team"></drbbly-teamlistitem>
                </div>
            </slick>
        </div>
    </section>
    <section drbbly-overlay="dhc.courtsListOverlay" class="pt-3 featured-courts">
        <div class="section-header d-flex">
            <h5 class="drbbly-header">
                {{::'app.FeaturedCourts' | i18n}}
            </h5>
            <a ui-sref="main.courts"
               class="ml-auto">See all</a>
        </div>
        <div class="slick-slider"
             ng-class="{'slick-dotted': dhc.courtsCarouselSettings.dots}">
            <slick settings="dhc.courtsCarouselSettings"
                   class="dark-transparent-bg">
                <div ng-repeat="court in dhc.courts"
                     class="px-3">
                    <drbbly-courtlistitem class="w-100"
                                          court="court"
                                          on-click="dhc.featuredCourtClick"></drbbly-courtlistitem>
                </div>
            </slick>
        </div>
    </section>
    <div>
        <!-- Ad -->
        <span class="d-block text-center">Advertisement</span>
        <drbbly-ad type="'horizontal'"></drbbly-ad>
    </div>
</div>