<div class="map-container border border-dark" ng-if="dbm.mapApiKey" map-lazy-load="{{'https://maps.google.com/maps/api/js?key=' + dbm.mapApiKey}}">
    <script type="text/ng-template" drbbly-template="dbm.searchControlTemplate">
        <div class="search-textbox-container">
            <drbbly-mapsearchcontrol options="dbm._searchOptions"
                                     on-place-changed="dbm._placeChanged" />
        </div>
    </script>
    <div id="{{dbm._options.id}}"
         ng-style="{height: dbm._options.height}"></div>
</div>