<div class="modal-header">
    <div class="player-details d-flex">
        <div class="profile">
            <drbbly-image ng-if="rsm.model.performedBy.teamMembership.profilePhoto"
                          image-url="{{rsm.model.performedBy.profilePhoto.url}}"></drbbly-image>
        </div>
        <drbbly-playerstats player="rsm.model.performedBy"
                            class="flex-grow-1"></drbbly-playerstats>
    </div>
</div>
<div class="modal-body">
    <div drbbly-overlay="rsm.overlay">
        <!-- Fould Details -->
        <div class="foul-details border-bottom mb-3">
            <form name="rsm.frmFoul">
                <h5>Fould Details</h5>
                <div class="form-group">
                    <label>Committed By:</label><br />
                    <select class="form-control"
                            ng-model="rsm.model.performedBy">
                        <option ng-repeat="player in rsm.foulPlayerOptions"
                                ng-value="player">
                            {{player.teamMembership.jerseyNo}} - {{player.teamMembership.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="performedBy"
                           required
                           hidden
                           ng-model="rsm.model.performedBy.teamMembership.memberAccountId" />
                </div>
                <div class="form-group">
                    <label>Foul Type:</label><br />
                    <select class="form-control"
                            ng-model="rsm.model.foul">
                        <option ng-repeat="foul in rsm.foulTypeOptions"
                                ng-value="foul"
                                ng-class="{'bg-warning': foul.isTechnical,
                                    'bg-danger': foul.isFlagrant}">
                            {{foul.name}}
                        </option>
                    </select>
                    <input type="text"
                           name="foulType"
                           required
                           hidden
                           ng-model="rsm.model.foul.id" />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary"
            i18n="site.Submit"
            ng-disabled="rsm.isBusy || rsm.frmFoul.$invalid"
            type="submit"
            ng-click="rsm.handleSubmitClick()"></button>
    <button i18n="site.Cancel"
            class="btn btn-warning"
            type="button"
            ng-click="rsm.cancel()"
            ng-disabled="rsm.isBusy"></button>
</div>
